<footer class="footer"> 
    <section class="footer__section">
        <article class="footer__article--info">                 
            <strong>¿Quienes somos?</strong>
            <hr>
            <a href="https://chat.whatsapp.com/KSNuKT2CkkQ8dH6jlwGXGI">Grupos de Lectura</a>
            <hr>
            <a href="/user/login">Iniciar Sesion/Registrarse</a>                            
</article>
<article class="footer__article--info">             
        <strong>¿En qué podemos ayudarte?</strong>
        <hr>
        <a href="#">Preguntas frecuentes</a>
        <hr>
        <a href="#">Contactanos</a>                          
</article>
<article class="footer__info--metodoPago">
    <strong>Aceptamos los siguientes métodos de pago</strong>
    <img src="/images/pago2.png" alt="">
</article>
    </section>       
    <section class="copy">
        <p>2022 - Guarida del Lector - Todos los derechos reservados</p>
    </section><br>      
</footer>
