<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Guarida del Lector</title>
    <!-- GLIDER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- MI ESTILO -->
    <link rel="stylesheet" href="/css/stylesheets.css">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/ce970c0111.js" crossorigin="anonymous"></script>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/logo" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="header__nav-menu">
            <div class="logo">  
                <img src="/images/logo" alt="">
            </div>
            <nav class="header__nav">
                <ul class="header__nav--lista">
                    <li><a href="">Home |</a></li>
                    <li><a href="">Novelas |</a></li>
                    <li><a href="">Infantil |</a></li>
                    <li><a href="">Divulgación Científica |</a></li>
                    <li><a href="">Mangas y Comics |</a></li>
                    <li><a href="">Nosotros</a></li>
                </ul>
            </nav>
            <div class="header--buscador">
                <form action="">
                    <input type="search" name="buscador" placeholder="Buscar títulos y categorías">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

            </div>
            <div class="header__nav__menu--user">   
                <a href="#"><i class="fa-solid fa-user"></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div> <br>
        </div>
        
        
    </header> 
    <main class="main__categoria">
        <h1>categorias</h1>
        <h2>novelas y sagas</h2>
        <section class="main__categoria__section">
            <article class="main__categoria__section__article">
                <img src="images/novelas/cien años de soledad - GG marquez.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Cien años de soledad</h3>
                    <p>$5,800</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/novelas/Dracula - Bram Stoker.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Dracula</h3>
                    <p>$1,500</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/novelas/el nombre del viento.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>El nombre del viento</h3>
                    <p>$9,700</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/novelas/el resplandor - Stephen king.jpeg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>El resplandor</h3>
                    <p>$6,400</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/novelas/El-Senor-de-los-Anillos-1-la-comunidad-del-anillo.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>El señor de los anillos - la comunidad del anillo</h3>
                    <p>$5,200</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/novelas/george orwell 1984.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>1984 - George Orwell</h3>
                    <p>$5,700</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/novelas/la llamada de cthulhu - HP lovecraft.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>la llamada de Cthulhu</h3>
                    <p>$2,400</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/novelas/rebelion-en-la-granja.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Rebelion en la granja</h3>
                    <p>$3,800</p>
                </div>
            </article>
        </section>
        <h2>infantiles</h2>
        <section class="main__categoria__section">
            <article class="main__categoria__section__article">
                <img src="images/infantiles/charlie-y-la-fabrica-de-chocolate-jpg.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Charly y la fabrica de Chocolate</h3>
                    <p>$3,500</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/infantiles/el-libro-de-la-selva-jpg.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Charly y la fabrica de Chocolate</h3>
                    <p>$2,300</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/infantiles/el-mago-de-oz-jpg.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>El mamravilloso mago de Oz</h3>
                    <p>$7,400</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/infantiles/el-principito-12103806-1-esl-es-el-principito-jpg.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>El Principito</h3>
                    <p>$1,800</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/infantiles/harry-potter- y la piedra filosofaljpg.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Harry Potter - y la piedra Filosofal</h3>
                    <p>$2,600</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/infantiles/las-aventuras-de-tom-sawyer.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Las aventuras de Tom Sawyer</h3>
                    <p>$2,300</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/infantiles/mary poppins.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Merry Poppins</h3>
                    <p>$5,200</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/infantiles/alicia en el pais de las maravillas.jpeg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Alicia en el pais de las maravilas</h3>
                    <p>$6,300</p>
                </div>
            </article>
        </section>
        <h2>divulgacion cientifica</h2>
        <section class="main__categoria__section">
            <article class="main__categoria__section__article">
                <img src="images/dibulgacion cientifica/agujeros negros y tiempo curvo de Kip S. Thorne (1994.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Agujeros negros y tiempo curvo</h3>
                    <p>$18,400</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/dibulgacion cientifica/Caos de James Gleick.jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Caos</h3>
                    <p>$16,800</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/dibulgacion cientifica/El origen de las especies de Charles Darwin (1859).png" alt="">
               <div class="main__categoria__section__article__div">
                 <h3>El origen de las Especies</h3>
                    <p>$9,400</p>
               </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/dibulgacion cientifica/Física de lo imposible de Michio Kaku (2009).jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Fisica de lo imposible</h3>
                    <p>$7,900</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/dibulgacion cientifica/Gödel, Escher, Bach de Douglas R. Hofstadter (1979).jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Gödel, Escher, Bach - Un eterno y grácil Bucle</h3>
                    <p>$9,000</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/dibulgacion cientifica/Historia del tiempo de Stephen W. Hawking (1988).jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>Historia del tiempo</h3>
                    <p>$6,700</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/dibulgacion cientifica/La muerte contada por un sapiens a un neandertal de Juan José Millás y Juan Luis Arsuaga (2022).jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>La muerte contade por un Sapiens a un Neandertal</h3>
                    <p>$4,500</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/dibulgacion cientifica/Una breve historia de casi todo de Bill Bryson (2003).jpg" alt="">
                <div class="main__categoria__section__article__div">
                    <h3>una breve historia de casi todo</h3>
                    <p>$16,200</p>
                </div>
            </article>
        </section>
        <h2>mangas y comics</h2>
        <section class="main__categoria__section">
            <article class="main__categoria__section__article">
                <img src="images/comics y manga/capitan america the end- 2100.png" alt="">
                <div>
                    <h3>capitan America - The End</h3>
                    <p>$2,300</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/comics y manga/chainsaw man - 1260.jpg" alt="">
                <div>
                    <h3>Chainsaw Man - 01</h3>
                    <p>$1,200</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/comics y manga/demon slayer T2 - 1550.jpg" alt="">
                <div>
                    <h3>Deamon Slayer - 01</h3>
                    <p>$1,250</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/comics y manga/dragon ball super 15 1500.jpg" alt="">
                <div>
                    <h3>Dragon Ball Super - 01</h3>
                    <p>$1,300</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/comics y manga/Iron man 2200.jpg" alt="">
                <div>
                    <h3>Iron man</h3>
                    <p>$2,500</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/comics y manga/jujutsu-kaisen- 1240.jpg" alt="">
                <div>
                    <h3>Jujutsu Kaisen</h3>
                    <p>$1,200</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/comics y manga/Spider-Man_Deadpool_Vol_1_3200.jpg" alt="">
                <div>
                    <h3>spider-man VS Deadpool</h3>
                    <p>$5,300</p>
                </div>
            </article>
            <article class="main__categoria__section__article">
                <img src="images/comics y manga/spiderman 3200.jfif" alt="">
                <div>
                    <h3>Spider-man</h3>
                    <p>$2,400</p>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer"> 
        <section class="footer__section">
            <article class="footer__article--info">                 
                <strong>¿Quienes somos?</strong>
                <hr>
                <p>Grupos de Lectura</p>
                <hr>
                <a href="#">Iniciar Sesion/Registrarse</a>                            
    </article>
    <article class="footer__article--info">             
            <strong>¿En qué podemos ayudarte?</strong>
            <hr>
            <a href="#">Preguntas frecuentes</a>
            <hr>
            <a href="#">Contactanos</a>                          
</article>
    <article class="footer__info--metodoPago">
        <strong>Aceptamos los siguientes métodos de pago</strong>
        <img src="/images/pago2.png" alt="">
    </article>
        </section>       
        <section class="copy">
            <p>2022 - Guarida del Lector - Todos los derechos reservados</p>
        </section><br>      
    </footer>
    
</body>
</html>