<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Guarida del Lector</title>
    <!-- GLIDER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- MI ESTILO -->
    <link rel="stylesheet" href="/css/stylesheets.css">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/ce970c0111.js" crossorigin="anonymous"></script>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/logo" type="image/x-icon">
</head>

<body>
    <header class="header">
        <div class="header__nav-menu">
            <div class="logo">  
                <img src="/images/logo" alt="">
            </div>
            <nav class="header__nav">
                <ul class="header__nav--lista">
                    <li><a href="">Home |</a></li>
                    <li><a href="">Novelas |</a></li>
                    <li><a href="">Infantil |</a></li>
                    <li><a href="">Divulgación Científica |</a></li>
                    <li><a href="">Mangas y Comics |</a></li>
                    <li><a href="">Nosotros</a></li>
                </ul>
            </nav>
            <div class="header--buscador">
                <form action="">
                    <input type="search" name="buscador" placeholder="Buscar títulos y categorías">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

            </div>
            <div class="header__nav__menu--user">   
                <a href="#"><i class="fa-solid fa-user"></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div> <br>
        </div>
        
        
    </header>
    <main class="main__categoria">
        <h1>categorias</h1>
        <section class="main__categoria__section">
            <article class="main__categoria__section__article">
                <h1>novelas y sagas</h1>
                <div class="main__categoria__section__article--img">
                    <img src="images/novelas/cien años de soledad - GG marquez.jpg" alt="">
                    <img src="images/novelas/Dracula - Bram Stoker.jpg" alt="">
                    <img src="images/novelas/el nombre del viento.jpg" alt="">
                    <img src="images/novelas/el resplandor - Stephen king.jpeg" alt="">
                    <img src="images/novelas/El-Senor-de-los-Anillos-1-la-comunidad-del-anillo.jpg" alt="">
                    <img src="images/novelas/george orwell 1984.jpg" alt="">
                    <img src="images/novelas/la llamada de cthulhu - HP lovecraft.jpg" alt="">
                    <img src="images/novelas/las aventuras de huckleberry fin.jpg" alt="">
                </div>
            </article>
        </section>
        <section class="main__categoria__section">
            <article class="main__categoria__section__article">
                <h1>infantiles</h1>
                <div class="main__categoria__section__article--img">
                    <img src="images/infantiles/charlie-y-la-fabrica-de-chocolate-jpg.jpg" alt="">
                    <img src="images/infantiles/el-libro-de-la-selva-jpg.jpg" alt="">
                    <img src="images/infantiles/el-mago-de-oz-jpg.jpg" alt="">
                    <img src="images/infantiles/el-principito-12103806-1-esl-es-el-principito-jpg.jpg" alt="">
                    <img src="images/infantiles/harry-potter- y la piedra filosofaljpg.jpg" alt="">
                    <img src="images/infantiles/las-aventuras-de-tom-sawyer.jpg" alt="">
                    <img src="images/infantiles/mary poppins.jpg" alt="">
                    <img src="images/infantiles/rebelion-en-la-granja.jpg" alt="">
                </div>
            </article>
        </section>
        <section class="main__categoria__section">
            <article class="main__categoria__section__article">
                <h1>divulgacion cientifica</h1>
                <div class="main__categoria__section__article--img">
                    <img src="images/dibulgacion cientifica/agujeros negros y tiempo curvo de Kip S. Thorne (1994.jpg" alt="">
                    <img src="images/dibulgacion cientifica/Caos de James Gleick.jpg" alt="">
                    <img src="images/dibulgacion cientifica/El origen de las especies de Charles Darwin (1859).png" alt="">
                    <img src="images/dibulgacion cientifica/Física de lo imposible de Michio Kaku (2009).jpg" alt="">
                    <img src="images/dibulgacion cientifica/Gödel, Escher, Bach de Douglas R. Hofstadter (1979).jpg" alt="">
                    <img src="images/dibulgacion cientifica/Historia del tiempo de Stephen W. Hawking (1988).jpg" alt="">
                    <img src="images/dibulgacion cientifica/La muerte contada por un sapiens a un neandertal de Juan José Millás y Juan Luis Arsuaga (2022).jpg" alt="">
                    <img src="images/dibulgacion cientifica/Una breve historia de casi todo de Bill Bryson (2003).jpg" alt="">
                </div>
            </article>
        </section>
        <section class="main__categoria__section">
            <article class="main__categoria__section__article">
                <h1>mangas y comics</h1>
                <div class="main__categoria__section__article--img">
                   |<a href=""><img src="images/comics y manga/capitan america the end- 2100.png" alt=""></a>
                    <a href=""><img src="images/comics y manga/chainsaw man - 1260.jpg" alt=""></a>
                    <a href=""><img src="images/comics y manga/demon slayer T2 - 1550.jpg" alt=""></a>
                    <a href=""><img src="images/comics y manga/dragon ball super 15 1500.jpg" alt=""></a>
                    <a href=""><img src="images/comics y manga/Iron man 2200.jpg" alt=""></a>
                    <a href=""><img src="images/comics y manga/jujutsu-kaisen- 1240.jpg" alt=""></a>
                    <a href=""><img src="images/comics y manga/Spider-Man_Deadpool_Vol_1_3200.jpg" alt=""></a>
                    <a href=""><img src="images/comics y manga/spiderman 3200.jfif" alt=""></a>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer"> 
        <section class="footer__section">
            <article class="footer__article--info">                 
                <strong>¿Quienes somos?</strong>
                <hr>
                <p>Grupos de Lectura</p>
                <hr>
                <a href="#">Iniciar Sesion/Registrarse</a>                            
    </article>
    <article class="footer__article--info">             
            <strong>¿En qué podemos ayudarte?</strong>
            <hr>
            <a href="#">Preguntas frecuentes</a>
            <hr>
            <a href="#">Contactanos</a>                          
</article>
    <article class="footer__info--metodoPago">
        <strong>Aceptamos los siguientes métodos de pago</strong>
        <img src="/images/pago2.png" alt="">
    </article>
        </section>       
        <section class="copy">
            <p>2022 - Guarida del Lector - Todos los derechos reservados</p>
        </section><br>      
    </footer>
    
</body>
</html>