<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <!-- GLIDER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- MI ESTILO -->
    <link rel="stylesheet" href="/css/stylesheets.css">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/ce970c0111.js" crossorigin="anonymous"></script>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/logo" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="header__nav-menu">
            <div class="logo">  
                <a href="/"><img src="/images/logo" alt=""></a>
                
            </div>
            <nav class="header__nav">
                <ul class="header__nav--lista">
                    <li><a href="/">Home |</a></li>
                    <li><a href="">Novelas |</a></li>
                    <li><a href="">Infantil |</a></li>
                    <li><a href="">Divulgación Científica |</a></li>
                    <li><a href="">Mangas y Comics |</a></li>
                    <li><a href="">Nosotros</a></li>
                </ul>
            </nav>
            <div class="header--buscador">
                <form action="">
                    <input type="search" name="buscador" placeholder="Buscar títulos y categorías">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

            </div>
            <div class="header__nav__menu--user">   
                <a href="/registro"><i class="fa-solid fa-user"></i></a>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div> <br>
        </div>
        
        
    </header> 
    <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>
    <main class="detalle">
        <section class="detalle__section" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="500">
       
            <div class="imagen-detalle">
                <img src="images/comics y manga/Spider-Man_Deadpool_Vol_1_3200.jpg" alt="">
            </div>
            
            <article class="detalle__section__article">
                <div class="detalle__section__article--datos">
                    <div class="index__main--titulares">
                        <h2>Spider-Man / Deadpool</h2>
                        <hr>
                    </div>
                    <p> <strong>Autor:</strong> joe Kelly y Scott Aukerman</p> 
                    <span><strong>Editorial:</strong> Marvel Comics</span>
                    <p>¡The Webbed Wonder y Merc with a Mouth se unen para su primera serie! Es acción, aventura y solo un poco de (b) romance en esta epopeya episódica que presenta al SUPERHÉROE MÁS GRANDE DEL MUNDO y la estrella de LA REVISTA DE CÓMICS MÁS GRANDE DEL MUNDO. ¡Habla de un dúo dinámico REAL!</p>
                    <p class="detalle-extendido">Spiderman y Deadpool se encuentran atados en poder de Dormammu y una legión de los Sin Mente.Spiderman, molesto de que se ha visto arrastrado hasta aquí por Wade. Deadpool distrae a Dormammu hasta que consigue dislocarse la cadera y le da la oportunidad a Spiderman a agarrar su katana y liberarlos. Comienza una pelea en la que Wade vence a los Sin Mente. Una vez que consiguen escapar vuelven al lugar donde Spiderman estaba luchando con Hidroman. La pelea termina cuando Spiderman lanza a Wade dentro del villano, con una granada sin seguro. Ganan, pero Wade acaba en muy malas condiciones. Una vez separados Deadpool va a ver al presunto Dormammu, que resulta ser falso. Todo lo ha orquestado Wede para acercarse a Spiderman. Tras pagar su deuda, Wade recibe un encargo. Su próximo trabajo es matar a Peter Parker.</p>
                    <h3>Precio: $5000</h3>
                </div>
                <div class="detalle__section__article--cantidad">
                    <i>-</i><input type="number" name="" id=""><i>+</i>
                </div>
                <div class="detalle__section__article--envio">
                    <button class="detalle-comprar">
                        <a href="/carrito">comprar</a>
                    </button>
                    <button>
                        <a href="/carrito"><i class="fa-solid fa-truck"></i></a>
                    </button>
                    <button>
                        <a href="/carrito"><i class="fa-solid fa-credit-card"></i></a>
                    </button>
                </div>
            </article>
        </section>

        <!-- BANNER DE OFERTAS -->

        <section class="index__main__section--banner">
            <figure class="banner__oferta--desktop">
                <img src="/images/bannerdesktop2-02.png" alt="">
            </figure>
            <figure class="banner__oferta--mobile">
                <img src="/images/banner mobile.png" alt="">
            </figure>
        </section>


    </main>
            <!-- REDES SOCIALES -->              
            <section class="index__section__redes">
                <h5>¡Seguinos en nuestras redes!</h5>
                <div class="redes-sociales">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>           
                </div>
        
           </section>
           <footer class="footer"> 
            <section class="footer__section">
                <article class="footer__article--info">                 
                    <strong>¿Quienes somos?</strong>
                    <hr>
                    <a href="#">Grupos de Lectura</a>
                    <hr>
                    <a href="#">Iniciar Sesion/Registrarse</a>                            
        </article>
        <article class="footer__article--info">             
                <strong>¿En qué podemos ayudarte?</strong>
                <hr>
                <a href="#">Preguntas frecuentes</a>
                <hr>
                <a href="#">Contactanos</a>                          
    </article>
        <article class="footer__info--metodoPago">
            <strong>Aceptamos los siguientes métodos de pago</strong>
            <img src="/images/pago2.png" alt="">
        </article>
            </section>       
            <section class="copy">
                <p>2022 - Guarida del Lector - Todos los derechos reservados</p>
            </section><br>      
        </footer>
        <!-- AOS -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
    
        <!-- GLIDER -->
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    
        <script>
    new Glider(document.querySelector('.glider'), {
      // Mobile-first defaults
      slidesToShow: 1,
      slidesToScroll: 1,
      scrollLock: true,
      dots: '#resp-dots',
      arrows: {
        prev: '.glider-prev',
        next: '.glider-next'
      },
      responsive: [
        {
          // screens greater than >= 775px
          breakpoint: 768,
          settings: {
            // Set to `auto` and provide item width to adjust to viewport
            slidesToShow: '2',
            slidesToScroll: '2',
            itemWidth: 150,
            duration: 0.25
          }
        },{
          // screens greater than >= 1024px
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1,
            itemWidth: 100,
            duration: 0.25
          }
        }
      ]
    });
        </script>
    </body>
    </html>