<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Guarida del Lector</title>
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/stylesheets.css">
    <script src="https://kit.fontawesome.com/ce970c0111.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/logo" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="header__nav-menu">
            <div class="logo">  
                <img src="/images/logo" alt="">
            </div>
            <nav class="header__nav">
                <ul class="header__nav--lista">
                    <li><a href="">Home |</a></li>
                    <li><a href="">Novelas |</a></li>
                    <li><a href="">Infantil |</a></li>
                    <li><a href="">Divulgación Científica |</a></li>
                    <li><a href="">Mangas y Comics |</a></li>
                    <li><a href="">Nosotros</a></li>
                </ul>
            </nav>
            <div class="header--buscador">
                <form action="">
                    <input type="search" name="buscador" placeholder="Buscar títulos y categorías">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

            </div>
            <div class="header__nav__menu--user">   
                <a href="#"><i class="fa-solid fa-user"></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>     
        
    </header> 
        
    
    <main class="main">

            <!-- VIDEO BANNER -->
    <section class="index__section--video">
        <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>
        <!-- <hr class="index__hr--separador"> -->
    <video onloadstart="this.muted=true" autoplay muted playsinline loop width="100%" class="video--banner">
        <source src="/images/Videodesktop.mp4"></video>

    <video onloadstart="this.muted=true" autoplay muted playsinline loop width="100%" class="video--banner-mobile">
            <source src="/images/mobilecuadrado.mp4">           
        </video>
        <p class="texto-video--mobile">"El regalo de un libro, además de obsequio, es un delicado elogio."<br>
            -Anónimo</p>
    </section>

   

        <!-- SECCION "MAS POPULARES" -->
        <section class="index__main__section">

            <div class="index__main--titulares">
                <h2>Libros más Populares</h2>
                <hr>
            </div> 
            
            
                <div class="contenedor" data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1000">
                    <div class="card--populares">
                        <figure>
                            <img src="/images/Populares/cuento-de-hadas.jpg" alt="">
                        </figure>
                        <div class="contenido">
                            <h3>$3500</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio atque officiis esse iste natus</p>
                            <a href="#">Leer más</a>
                        </div>
                    </div>
                </div>     

                <div class="contenedor" data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1000">
                    <div class="card--populares">
                        <figure>
                            <img src="/images/Populares/Esperando al diluvio.jpg" alt="">
                        </figure>
                        <div class="contenido">
                            <h3>$4500</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio atque officiis esse iste natus</p>
                            <a href="#">Leer más</a>
                        </div>
                    </div>
                </div>     

                <div class="contenedor" data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1000">
                    <div class="card--populares">
                        <figure>
                            <img src="/images/Populares/ladrona de huesos.jpg" alt="">
                        </figure>
                        <div class="contenido">
                            <h3>$3800</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio atque officiis esse iste natus </p>
                            <a href="#">Leer más</a>
                        </div>
                    </div>
                </div>     

                <div class="contenedor" data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1000">
                    <div class="card--populares">
                        <figure>
                            <img src="/images/Populares/violeta-de-isabel-allende.jpg" alt="">
                        </figure>
                        <div class="contenido">
                            <h3>$5000</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio atque officiis esse iste natus</p>
                            <a href="#">Leer más</a>
                        </div>
                    </div>
                </div>     
        
        </section>

        <!-- BANNER DE OFERTAS -->

        <section class="index__main__section--banner">
            <figure>
                <img src="/images/banner ofertas-01.png" alt="">
            </figure>
        </section>

        <!-- SECCION CATEGORIAS -->

        
        
    </main>
    <footer class="footer"> 
        <section class="footer__section">
            <article class="footer__article--info">                 
                <strong>¿Quienes somos?</strong>
                <hr>
                <p>Grupos de Lectura</p>
                <hr>
                <a href="#">Iniciar Sesion/Registrarse</a>                            
    </article>
    <article class="footer__article--info">             
            <strong>¿En qué podemos ayudarte?</strong>
            <hr>
            <a href="#">Preguntas frecuentes</a>
            <hr>
            <a href="#">Contactanos</a>                          
</article>
    <article class="footer__info--metodoPago">
        <strong>Aceptamos los siguientes métodos de pago</strong>
        <img src="/images/pago2.png" alt="">
    </article>
        </section>       
        <section class="copy">
            <p>2022 - Guarida del Lector - Todos los derechos reservados</p>
        </section><br>      
    </footer>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>