<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Guarida del Lector</title>
    <link rel="stylesheet" href="/css/stylesheets.css">
    <script src="https://kit.fontawesome.com/ce970c0111.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/logo" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="header__nav-menu">
            <div class="logo">  
                <img src="/images/logo" alt="">
            </div>
            <nav class="header__nav">
                <ul class="header__nav--lista">
                    <li><a href="">Home</a></li>
                    <li><a href="">Novelas</a></li>
                    <li><a href="">Infantil</a></li>
                    <li><a href="">Divulgación Científica</a></li>
                    <li><a href="">Mangas y Comics</a></li>
                    <li><a href="">Nosotros</a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div> <br>
        </div>
        
        
    </header>
    <main class="main">

    </main>
    <footer class="footer">

    </footer>
</body>
</html>