

.noResults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.noResults video{
    margin: 0 auto;
    width: 80%;
}

.noResults h4{
    width: 100%;
    text-align: center;
    margin: 10px;
    text-align: center;
}

@media (min-width:1024px) {
    .noResults video{
        margin: 0 auto;
        width: 60%;
    }

    .noResults h4{
        margin: 20px;
        font-size: 25px;
    /*     width: 100%;
        text-align: center;
        margin: 10px;
        text-align: center; */
    }
}