/* PRUEBA CARD CARRITO */
/* .carrito-body{
   background-image:(url('/images/background-pics/2111.w039.n003.23B.p1.23.jpg')) ;
   background-size: 100%;
   background-repeat:repeat-y;
   
} */



.carrito{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 90%;
   border: none;
   background-color: #DCDCDC;
   border-radius: 4px;
   box-shadow: 5p 5px 5px rgb(0,0,0);
   margin: 20px 0;
}

.imagen-libro{
   width: 20%;
}

.imagen-libro img{
   width: 100px;
}

.descripcion{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 60%;
   gap:10px ;
   padding: 10px;
}
 .carrito_description-buttons{
    display: flex;
    flex-direction: row;
 }

.descripcion button{
   padding: 2px;
   background-color:var(--botonesGenerales) ;
   color: white;
   border: 1px solid var(--botonesGenerales);
   border-radius: 5px;
   margin-bottom: 15px;
   width: 15%;
   margin-right: 10px;
    
}
.descripcion a button{
   background-color: var(--footer);
   border:  1px solid var(--footer);
   width: 78%;
 
}

.carrito__main--titulares{
  text-align: center;
  margin: 20px 0;
}

.carrito__main--titulares h2{
   font-weight: 100;
}

.carrito__main--titulares hr{
   background-color: var(--footer);
   height: 5px;
}

/*TERMINA PRUEBA  */

.carrito__main{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   width: 100%;  
}
.main__cajaCompra{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px 0;
} 
.main__precioFinal{
       display: flex;
       flex-direction: column;
       text-align: center;
       margin-bottom: 20px;
}
.main__precioFinal--envio{
   border-bottom: 3px solid var(--footer);
   margin-bottom: 10px;
}
.man__precioFinal--subTotal{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-bottom: 10px;
}
/* .main__precioFinal form{
   display: flex;
   flex-direction: column;
} */

.main__precioFinal button{
      padding: 10px;
      background-color:var(--botonesDeCompra) ;
      color: white;
      border: 1px solid var(--botonesDeCompra);
      border-radius: 5px;
      width: 215px;
    /*   margin-bottom: 15px; */
}
.main__carrito{
    background-color: rgb(242, 229, 211);;
    border-radius: 4px;
    box-shadow: 4px 5px 5px rgb(0,0,0);
    width: 236px;
    height: 87px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.main__carrito p{
    text-align: center;

}
.main__carrito i{
  position: relative;
  left: 8px;
  color: var(--footer) ;
}


   /* Tablet */
@media (min-width:768px){

/* SECCION CARDS CARRITO */
.carrito{
   justify-content: space-between;
}

.imagen-libro{
   width: 40%;
}
.imagen-libro img{
   width: 160px;
}

.descripcion{
   width: 60%;
   gap: 20px;
   padding: 30px;
}
/* 
 .descripcion a button{
   width: 30%;
} 
 */
.main__cajaCompra{
   margin: 20px 0;
   flex-direction: row;
   gap: 100px;
   justify-content: space-between;
   align-items: center;
   align-content: center;
}


/* SECCION CARD CARRITO */

}
   /* Pc */
@media (min-width:1024px){
/* card carrito */

.carrito{
  width: 40%;
  margin-right: 40%;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  
}

.main__cajaCompra{
   flex-direction: column;
   flex-wrap: wrap;
   align-self: flex-start;
   position: absolute;
   top: 45%;
   left: 50%;
}

/* card carrito */

   .main__cajaCompra {
      width: 50%;
     padding: 20px 0px; 
     gap: 10px;
   } 

  .main__precioFinal{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 6px;
    margin-bottom: 46px;
}
  .main__precioFinal button{
   padding: 10px;
   background-color:var(--botonesDeCompra) ;
   color: white;
   border: 1px solid var(--botonesDeCompra);
   border-radius: 5px;
   width: 255px;
}


}


