/* .catalogo{
    background-image: url(/images/background-pics/2111.w039.n003.23B.p1.23.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
} */
.contenedor-catalogo{
    width: 50%;
    display: flex;  
    justify-content: center; 

}

.contenedor-catalogo a{
    margin: 15px 0;  
    transition: all 400ms ease; 
}


.contenedor-catalogo img{
   width: 130px;
   height: 200px;
    object-fit: cover;
    background-color: rgb(226, 223, 223);
    box-shadow: 0px 1px 10px rgba(0, 0,0, 1);
    cursor: pointer;
}

.contenedor-catalogo a:hover{
    box-shadow: 5px 5px 20px rgba(0, 0,0, 0.4);
    transform: translateY(-2%);
}


@media (min-width:768px) { 
    .contenedor-catalogo{
        width: 25%;
    }

    .contenedor-catalogo img{
        width: 150px;
        height: 220px;
    }
}

@media (min-width:1024px) { 
    .contenedor-catalogo{
        width: 15%;
    }
    .contenedor-catalogo img{
        width: 170px;
        height: 240px;
    }
}