.main__categoria__section__article--img{
    display: flex;
    flex-wrap: wrap;

}
.main__categoria__section__article--img a{
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

@media (min-width: 768px){
    .main__categoria__section__article--img img{
        width: 48%;    
}
}

@media (min-width: 1024px){
    .main__categoria__section__article--img img{
        width: 25%;    
}
}