.categoria h1 h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.categoria__section{
    display: flex;
    flex-direction: row;
    width: 96%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.categoria__section__article{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categoria__section__article img{
   width: 100%;
   padding: 5px;
    

}
.categoria__section__article__div{

}

@media (min-width: 768px){
    .categoria__section__article{
        width: 47%;
       
    }
}

@media (min-width: 1024px){
    .categoria__section{
        width: 96%;
        margin-bottom: 30px;
}
    
    
    .categoria__section__article{
        width: 22%;
       
    }
    .categoria__section__article img{
        width: 90%;    
}
}