.detalle{
    width: 100%;
    background-image: url(/images/background-pics/2111.w039.n003.23B.p1.23.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    
}
.detalle__section{
    width: 90%;
    margin: 20px 0;
    color: var(--footer);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    background-color: #DCDCDC;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(0,0,0);
}

.imagen-detalle{
    width: 100%;
}

.imagen-detalle img{
    width: 100%;
    padding: 10px;
}


.detalle__section__article{
    padding: 10px;
    text-align: center;
}

.detalle__section__article--datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.detalle__section__article--datos p{
    width: 100%;  
}
.detalle-extendido{
    display: none;
}

.detalle__section__article--datos h2{
    color: var(--footer);
    font-size: 20;
}

.detalle__section__article--envio i{
    color: white;
}
.detalle__section__article--envio{
    margin: 20px 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.detalle__section__article--cantidad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detalle__section__article--cantidad input{
    width: 50px;
    border: 1px black solid;
    border-radius: 5px;

}
.detalle__section__article--cantidad i{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: inherit;
    background-color: var(--footer);
    width: 30px;
    height: 34px;
    margin: 5px;
    border-radius: 50%;
    border: 2px black solid;
}


.detalle-comprar a{
    padding: 10px;
    background-color:var(--footer)!important;
    color: white;
    border: 1px solid var(--footer) !important;
    border-radius: 5px;
    align-self: center;
    font-family:'roboto' ;
}

.detalle__section__article--envio button{
    padding: 10px;
    background-color:var(--footer) ;
    color: white;
    border: 4px solid var(--footer);
    border-radius: 5px;
    font-family:'roboto' ;
    cursor: pointer;
}

.detalle__section__article--envio button:hover{
    transform: rotate(0.5deg) scale(1.1);
}




.detalle__section--banner{
    margin: 30px auto;
    width:100%;    
}

.detalle__section--banner img{
    width: 100%;    
}


.boton-modal label{
    padding: 13px ;
    background-color: var(--footer);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal label:hover{
    background-color: #dd1818;
}


/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #1f79c2;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 14px;
}
.btn-cerrar button{
    padding: 10px 10px;
    background-color: #d12811;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    border: none;
    margin: 0 5px;
}



.content-modal .btn-cerrar label:hover{
    background-color:#185E83;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/



@media (min-width: 768px){

    .detalle__section__article{
    width: 90%;
    }

    .detalle-comprar{
        font-size: 25px;
    }

    .detalle__section__article--envio i{
        font-size: 25px;
    }
    .banner__oferta--mobile{
        display: none;
    }
    .detalle-extendido{
        display: block;
    }

}

@media (min-width: 1024px){

    .detalle__section{
        flex-direction: row;
        justify-content: space-between;
    }

    .imagen-detalle{
        width: 35%;
    }

    .detalle__section__article{
    width: 60%;
    }
    .detalle__section__article--datos h2{
        font-size: 60;
    }
    
    .detalle__section__article--datos p{
        width: 90%;    
    }
    

}



@media (min-width: 768px){

    .detalle__section__article{
    width: 90%;
    }

    .detalle-comprar{
        font-size: 22px;
    }

    .detalle__section__article--envio i{
        font-size: 25px;
    }
}

@media (min-width: 1024px){

    .detalle__section{
        flex-direction: row;
        justify-content: space-between;
    }

    .imagen-detalle{
        width: 35%;
    }

    .detalle__section__article{
        width: 60%;
       
    }
    .detalle__section__article--datos p{
        width: 90%;    
    }
    

}