.detalle{
    width: 100%;
    /* background-image: url(/images/background-pics/2111.w039.n003.23B.p1.23.jpg);
    background-size: 100%;
    background-repeat: repeat-y; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.detalle__section{
    width: 90%;
    margin: 20px 0;
    color: var(--footer);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    background-color: #DCDCDC;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(0,0,0);
}

.detalle__main--titulares h2{
    text-align: center;
    margin: 20px 0 0 0;
}

.detalle__main--titulares hr{
    height: 3px;
    background-color: var(--footer);
    
}

.imagen-detalle{
    width: 100%;
}

.imagen-detalle img{
    width: 100%;
}


.detalle__section__article{
    
}

.detalle__section__article--datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.detalle__section__article--datos p{
    width: 100%; 
    text-align: center;
    padding: 10px;   
}

.detalle__section__article--datos h2{
    color: var(--footer);
}

.detalle__section__article--envio{
    margin: 20px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.detalle-comprar{
    padding: 10px;
    /* background-color:var(--botonesDeCompra); */
    color: white;
   /*  border: 1px solid var(--botonesDeCompra) */ ;
    border-radius: 5px;
    align-self: center;
    font-family:'roboto' ;
}
.detalle__section__article--envio button{
    padding: 15px;
    background-color:#4c92dd ;
    color: white;
    border: 1px solid #4c92dd;
    border-radius: 5px;
    font-family:'roboto' ;
    font-weight: 100;
}

.detalle__section__article--envio button:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgb(43, 154, 206);
}





@media (min-width: 768px){

    .detalle__section__article{
    width: 90%;
    }

    .detalle-comprar{
        font-size: 22px;
    }

    .detalle__section__article--envio i{
        font-size: 25px;
    }
}

@media (min-width: 1024px){

    .detalle__section{
        flex-direction: row;
        justify-content: space-between;
    }

    .imagen-detalle{
        width: 35%;
    }

    .detalle__section__article{
    width: 60%;
    }
    .detalle__section__article--datos p{
        width: 90%;    
    }
    

}