.detalle{
    width: 100%;
    background-image: url(/images/background-pics/2111.w039.n003.23B.p1.23.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    
}
.detalle__section{
    width: 90%;
    margin: 20px 0;
    color: var(--footer);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    background-color: #DCDCDC;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(0,0,0);
}

.imagen-detalle{
    width: 100%;
}

.imagen-detalle img{
    width: 100%;
    padding: 10px;
}


.detalle__section__article{
    padding: 10px;
    text-align: center;
}

.detalle__section__article--datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.detalle__section__article--datos p{
    width: 100%;  
}
.detalle-extendido{
    display: none;
}

.detalle__section__article--datos h2{
    color: var(--footer);
    font-size: 20;
}

.detalle__section__article--envio i{
    color: white;
}
.detalle__section__article--envio{
    margin: 20px 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.detalle__section__article--cantidad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detalle__section__article--cantidad input{
    width: 50px;
    border: 1px black solid;
    border-radius: 5px;

}
.detalle__section__article--cantidad i{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: inherit;
    background-color: var(--footer);
    width: 30px;
    height: 34px;
    margin: 5px;
    border-radius: 50%;
    border: 2px black solid;
}


.detalle-comprar a{
    padding: 10px;
    background-color:var(--footer)!important;
    color: white;
    border: 1px solid var(--footer) !important;
    border-radius: 5px;
    align-self: center;
    font-family:'roboto' ;
}
.detalle__section__article--envio button{
    padding: 10px;
    background-color:var(--footer) ;
    color: white;
    border: 4px solid var(--footer);
    border-radius: 5px;
    font-family:'roboto' ;
}
.detalle__section--banner{
    margin: 30px auto;
    width:100%;    
}

.detalle__section--banner img{
    width: 100%;    
}

@media (min-width: 768px){

    .detalle__section__article{
    width: 90%;
    }

    .detalle-comprar{
        font-size: 25px;
    }

    .detalle__section__article--envio i{
        font-size: 25px;
    }
    .banner__oferta--mobile{
        display: none;
    }
    .detalle-extendido{
        display: block;
    }

}

@media (min-width: 1024px){

    .detalle__section{
        flex-direction: row;
        justify-content: space-between;
    }

    .imagen-detalle{
        width: 35%;
    }

    .detalle__section__article{
    width: 60%;
    }
    .detalle__section__article--datos h2{
        font-size: 60;
    }
    
    .detalle__section__article--datos p{
        width: 90%;    
    }
    

}



@media (min-width: 768px){

    .detalle__section__article{
    width: 90%;
    }

    .detalle-comprar{
        font-size: 22px;
    }

    .detalle__section__article--envio i{
        font-size: 25px;
    }
}

@media (min-width: 1024px){

    .detalle__section{
        flex-direction: row;
        justify-content: space-between;
    }

    .imagen-detalle{
        width: 35%;
    }

    .detalle__section__article{
        width: 60%;
       
    }
    .detalle__section__article--datos p{
        width: 90%;    
    }
    

}