.editar__main{
    width: 100%;
    background-image: url(/images/background-pics/2111.w039.n003.23B.p1.23.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}

.editar__section--form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.titulo--edicion{
    font-size: 17px;
    color: white;
    width: 100%;
    text-align: center;
}

.fomulario-edicion{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    gap: 15px;    
    padding: 20px;
    background-color:#76367c;
    border-radius: 16px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0); 
}

.datos--libro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.datos--libro label{
    font-size: 14px;
    color: white;
    width: 100%;
    margin: 10px 0;
    font-weight: bolder; 
    
}


.editar__categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.editar__categorias select{
    background-color:white;
    border-radius: 4px;
    padding: 5px;
    color: black;
    font-weight: bolder;
   

}


.editar__categorias label{
    font-size: 14px;
    color: white;
    width: 33%;
    text-align: center;   
    font-weight: bolder; 
}

.editar__portada{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.editar__portada label{
    font-size: 15px;
    color: white;
    text-align: center;   
    font-weight: bolder; 
}

.editar__portada input{
    padding: 2px !important;
}


.edicion--buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;  
    margin-bottom: 10px;
    
}

.edicion--buttons button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var( --footer);
    background-color: white;
    color: var(--footer);
    font-weight: bolder;   
}

.edicion--buttons button:hover{
    box-shadow: 0px 0px 12px rgb(250, 249, 249);
    font-weight: bolder;
}

.edicion--inicio a{
    font-size: 15px;
    color: white;
    text-align: center;   
    /* font-weight: bolder;  */
}

.edicion--inicio a:hover{
    font-weight: bolder;
    text-decoration: underline;
}


/* Tablet */


@media (min-width:768px) {
    
    .fomulario-edicion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 40px;
        width: 55%;
        padding: 15px;
    }
    

    .datos--libro{
        width: 75%;
    }  

    .editar__categorias{
        flex-direction: column;
        width: 76%;
        gap: 10px;
    }

    .editar__categorias label{
        width: 100%;
    }
    
    .editar__portada{
        width: 76%;
        margin-top: 10px;
    }

    .editar__portada input{
        padding: 4px !important;
    }

    .edicion--buttons{
        width: 100%;
        font-size: 30px;
    }
    

}


/* DESKTOP */


@media (min-width:1024px) {
    .fomulario-edicion{
        flex-direction: row;
        width: 50%;
        margin-top: 40px;
    }

    .editar__categorias{
        width: 36%;
    }

    .editar__portada{
        width: 36%;
    }


}