.editar__main{
    width: 100%;
    background-image: url(/images/background-pics/2111.w039.n003.23B.p1.23.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}

.editar__section--form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.titulo--edicion{
    font-size: 17px;
    color: white;
    width: 100%;
    text-align: center;
    margin: 0;
}

.fomulario-edicion{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    gap: 15px;    
    padding: 20px;
    background-color:#502d4a;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0); 
}

.datos--libro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.datos--libro label{
    font-size: 14px;
    color: white;
    width: 100%;
    margin: 10px 0;
    font-weight: bolder; 
}


.datos--libro small{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder;   
}

.datos--libro textarea{
    border-radius: 5px;
    padding: 5px;
    resize:vertical;
    
}

.selectAutor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    
}

.selectAutor select{
    background-color:white;
    border-radius: 4px;
    padding: 5px;
    color: black;
    font-weight: bolder;
    width: 100%;
}
.selectAutor label{
    font-size: 14px;
    color: white;
    width: 100%;
    text-align: center;   
    font-weight: bolder; 
    margin-bottom: 10px;
}


.selectAutor small{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder;   
    margin: 5px 0;
}


.selectEditorial{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.selectEditorial select{
    background-color:white;
    border-radius: 4px;
    padding: 5px;
    color: black;
    font-weight: bolder;
    width: 100%;
}

.selectEditorial label{
    font-size: 14px;
    color: white;
    width: 100%;
    text-align: center;   
    font-weight: bolder; 
    margin-bottom: 10px;
}

.selectEditorial small{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder;   
    margin: 5px 0;
}





.editar__categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.editar__categorias select{
    background-color:white;
    border-radius: 4px;
    padding: 5px;
    color: black;
    font-weight: bolder;
    width: 100%;
}


.editar__categorias label{
    font-size: 14px;
    color: white;
    width: 100%;
    text-align: center;   
    font-weight: bolder; 
    margin-bottom: 10px;
}

.editar__categorias small{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder;   
    margin: 5px 0;
}

.editar__portada{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.editar__portada label{
    font-size: 15px;
    color: white;
    text-align: center;   
    font-weight: bolder; 
}

.editar__portada input{
    padding: 1px !important;
}

.editar__portada small{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder;   
}


.edicion--buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;  
    margin-bottom: 10px;
    
}

.edicion--buttons button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var( --footer);
    background-color: white;
    color: var(--footer);
    font-weight: bolder;   
}

.edicion--buttons button:hover{
    box-shadow: 0px 0px 12px rgb(250, 249, 249);
    font-weight: bolder;

}

.edicion--inicio a{
    font-size: 15px;
    color: white;
    text-align: center;   
    /* font-weight: bolder;  */
}

.edicion--inicio a:hover{
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

.agregarLibro label{
    background-color: rgb(235, 105, 105)!important;
    font-size: 10px;
}

.agregarLibro label:hover{
    background-color: red !important;
}


.errorInput{
    border: 4px solid rgb(235, 105, 105);
    box-shadow: 0 0 10px rgba(252, 249, 249, 0.5);
}

.validInput{
    border: 4px solid rgb(108, 159, 207);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    
}

#errorForm{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder;  
  
}

#errorFormLogin{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder; 
    
}

/* #errorFormAdd{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder; 

} */


/* Tablet */


@media (min-width:768px) {
    
    .fomulario-edicion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 40px;
        width: 55%;
        padding: 15px;
    }
    

    .datos--libro{
        width: 90%;
        flex-direction: row;
    }  

    .datos--libro textarea{
        width: 100%;
        
    }

    .editar__categorias{
        flex-direction: column;
        width: 90%;
      /*   gap: 10px; */
    }

    .editar__categorias label{
        width: 100%;
    }
    
    .editar__portada{
        width: 90%;
        margin-bottom: 20px;
    }

    .editar__portada input{
        padding: 4px !important;
    }

    .edicion--buttons{
        width: 100%;
        font-size: 30px;
    }

    .agregarLibro label{
        font-size: 15px;
    }
    

}


/* DESKTOP */


@media (min-width:1024px) {
    .fomulario-edicion{
        flex-direction: row;
        width: 50%;
        margin-top: 40px;
    }

    .datos--libro{
       justify-content:center;
        width: 100%;
    }

    .datos--libro textarea{
        width: 80%;
    }

    .datos--libro small{
        width: 100%;
    }

    .datos--libro input{

        width: 80%;
    }

    .editar__categorias{
        width: 36%;
    }

    .editar__portada{
        padding: 0;
        margin-top: 19px;
        width: 36%;
    }

    .selectAutor{
        width: 80%;
      
       
        
    }


    .selectEditorial{
        width: 80%;
     
    }

 
 


}