.footer{
    background-color: var(--footer);
    color: white;
}

.footer__section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 10px;
    flex-wrap: wrap;
    width: 100%;
}

.footer a{
    color: white;
}

.footer__article--info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-family: 'Roboto';
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.footer__article--info hr{
    margin: 5px;
    width: 200px;
    align-self: center;
}

.footer__info--metodoPago{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.footer__info--metodoPago strong{
    font-size: 12px;
}

.footer__info--metodoPago img{  
    width: 250px;

}

.copy{
    font-size: 8px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}


@media (min-width:768) {

}
