*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: var(--tipografiaGeneral);    
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

ol, ul {
    padding: 0;
}

#todos{
    font-family: var(--tipografiaGeneral); 
    color: black;
    font-weight: bolder;
}

.comprar{
    background-color:var(--footer); /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color de letra */
    padding: 12px 15px; /* Espacio alrededor del texto */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Espacio entre botones */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    border-radius: 10px; /* Redondez del borde */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

.comprar:hover {
    background-color: var(--botonesDeCompra);
}

.comprar:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);  
}


   /* INIICA ESTILOS TABLAS LICITACIONES */

   .contenedor {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #fffdfd;
    border: 1px solid #ddd;
}

.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
    
}

.table thead th{ 
    text-transform: uppercase;
    background-color: #ddd;
}

.table tbody tr:hover {
    background-color: #7faaad;
}

.table tbody td:hover {
    background-color: #46878a;
}

@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}

/* FINALIZA ESTILO TABLAS LICITACIONES */
