*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: var(--tipografiaGeneral);    
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

ol, ul {
    padding: 0;
}

#todos{
    font-family: var(--tipografiaGeneral); 
    color: black;
    font-weight: bolder;
}