.header__nav-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
}
.header__nav--lista{
    display: none;
}

.logo{
   /*  margin: 10px; */
}

.logo img{
    width: 80px;
}

.burger-menu{
    margin-bottom: 10px;
    border-radius: 5px;
    text-align:center;
    padding: 3px; 
    margin-left: 150px; 
}

.burger-menu i{ 
    font-size: 35px;
   
}

