.header__nav-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    align-content: center;  
}

.header__nav{
    display: none;
}

.logo{
    width: 60%;
}

.logo img{
    width: 80px;
}

.burger-menu{   
    border-radius: 5px; 
    width: 7%;  
    align-self: flex-end;
    padding: 0;
}

.header__nav__menu--user{
   /*  margin-right: -30px; */
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items:center;    
    width: 30%;   
}

.header__nav__menu--user i{
    color: var(--footer);
    font-size: 20px;
    cursor: pointer;
    }

.header__nav__menu--user i:hover{   
        transform: rotate(0.5deg) scale(1.3);
        transition: width 1s, height 1s, transform 2s;
}

.header__nav__menu--user img{
    width:30px;
    height:30px;
    border-radius:150px;
    object-fit: cover;
    box-shadow: 3px 5px 8px rgb(0, 0, 0);
}

.header__nav__menu--user small{
    display: none;
}

.burger-menu i{ 
    font-size: 19px;
    text-align: start;
    color: var(--footer);
   }

.header--buscador{
    display: none;
    position: relative;
}   

.header--buscador input{
    color: #fff;
    width: 100%;
    height:35px;
    padding:20px;
    border: none;
    border-radius: 5px;
    background-color: var(--footer);
    /* color: #fff; */
}

.header--buscador input::placeholder {
    color: #fff;

}


.header--buscador button{ 
    position: absolute;
    top:7px;  
    right: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: var(--footer);   
}

.header--buscador button i{    
    font-size: 22px;
}

/* TABLETS */

@media (min-width:768px) {  

    .logo{
        width: 70%;
    }

    .logo img{
        width: 100px;
    }

    .header__nav__menu--user{
        gap: 10px;
        width: 18%;   
    }

    .header__nav__menu--user i{
        font-size:30px;
    }

    .header__nav__menu--user img{
        width:40px;
        height:40px;
    }

    .burger-menu i{ 
        font-size: 25px;
        
    }

    
    
}

@media (min-width:1024px) {  
    
    .header__nav-menu{
        padding: 25px 25px;

    }
    
    .logo{
        width: 15%;
    }

    .logo img{
        width: 100px;
    }
    
    .header--buscador{
        display: block;
        width:60%;
        align-self: center;
    }   

    .burger-menu{
        display:none;
    }

    .header__nav{
        display: block;
    }

    .header__nav__menu--user{
        width: 18%;
        align-self:center; 
        gap: 20px;           
    
    }

    .header__nav__menu--user small{
        display:contents;
        font-family: roboto;
        color: var(--footer);
        font-weight: bolder;
    }

    .header__nav{
        width: 100%;
        margin: 0 18.5%;
    }

    .header__nav--lista{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 15px;
        width: 100%; 
        color: var(--footer);        
    }

    .header__nav--lista a:hover{
        color: rgb(184, 144, 92);
    }

    .header__nav__menu--user i{
        font-size:35px;
    }

    #hamburguesa{
        display: none;
    }
}