.main{
    width: 90%;
}

.index__main__section{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.video--banner{
    display: none;
}