.perfil--section{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.perfil--section img {
    width: 150px;
    margin: 10px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}