.register__body{
    background-image: url('/images/background-pics/2111.w039.n003.23B.p1.23.jpg');
    background-size: 100%;
    background-repeat:repeat-y;
}


.titulo--registro{
    font-size: 17px;
    color: white;
    width: 100%;
    /* margin: 10px 0; */
    text-align: center;
}

.register__section--form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    margin-top: 35%;
    
}

.reg{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.fomulario-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    gap: 15px;    
    padding: 15px;
    background-color:#76367c;
    border-radius: 16px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);   
    
}

/* 
.fomulario-registro p{
    font-weight: 100;
    text-align:start;
    margin: 10px 0 10px 0;
    font-size: 12px;
    width: 100%;
} */

input{
    width: 100%;
    border: none;
    /* border-color: var(--footer); */
    padding: 10px;
    background-color: white;
    border-radius: 4px;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: var(--footer); /* Color de fondo */
    color: #fff; /* Color del texto */
    border-radius: .25rem; /* Bordes redondeados */
    padding: .375rem .75rem; /* Espaciado interno */
    font-size: 0.8rem; /* Tamaño de fuente */
    line-height: 1; /* Altura de línea */
    border: none; /* Quitar borde */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out; /* Transición al hacer clic */
  }

  input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #ce5843; /* Cambio de color de fondo al pasar por encima */
    color: #fff; /* Cambio de color del texto al pasar por encima */
  }

  input[type="file"]::-webkit-file-upload-button:focus {
    outline: none; /* Quitar el borde al hacer clic */
  }

.datos--personales{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.datos--personales small{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder;   
}



.form--password{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.form--password small{
    text-align: center;
    color: rgb(235, 105, 105);
    font-weight: bolder;   
}

.form--password label{
    align-self:flex-start;
    font-weight: bolder;
    font-size: 15px;
}
.form--condiciones--recordar label{
    font-size: 12px;
    font-family: 'roboto';
    display: flex;
    color: white;
}
.form--condiciones a{
    font-size: 12px;
    font-family: 'roboto';
    color: white;
}
.form--condiciones a:hover{
    font-weight: bolder;
    text-decoration: underline;

}

.form--buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;  
    margin-bottom: 10px;
    
}

.form--buttons button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var( --footer);
    background-color: white;
    color: var(--footer);
    font-weight: bolder;
   
}

.form--buttons button:hover{
    box-shadow: 0px 0px 12px rgb(250, 249, 249);
    /* color: white; */
    font-weight: bolder;
    cursor: pointer;

}


.LoginGoogle{
    background-color: #dd4b39;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
}

.form--buttons:before {
    content: "\f1a0";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 10px;
  }




/* TABLETS */

@media (min-width:768px) { 
    .fomulario-registro{
        width: 35%;
    }

    .register__section--form{
        margin-top: 15%;
    }



}


/* DESKTOP */

@media (min-width:1024px) {
    .register__section--form{
        margin-top: 10%;
    }

    .fomulario-registro{
        width: 25%;
    }
}