:root{
    --botonesDeCompra: #007aff;
    --botonesGenerales: #dc3545;
    --backgroundBody: white ;
    --footer : #403042;
    --tipografiaGeneral: 'Roboto';
    --tipografiaSecundaria: 'EB geramond';
    
}