<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
         <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">        
          
    <body class="bg-image" style="background-image: url('/images/background-pics/2111.w039.n003.23B.p1.23.jpg'); background-size: cover;" >
  
      <nav class="navbar navbar-expand-sm navbar-light bg-body-secondary">
          <div class="container">
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <a class="nav-link active" href="/" aria-current="page">Ir al Inicio<span class="visually-hidden">(current)</span></a>
              
              <li class="nav-item dropdown">
                  
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menú</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
                      <a class="dropdown-item" href="/admin">Dashboard</a>
                  <% } %>
                    
                    <a class="dropdown-item" href="/user/logout">Cerrar Sesión</a>
                 
                  </div>
                </li>
              
            
            </ul>
         <!--  <form action="/search" method="get" class="d-flex my-2 my-lg-0">
            <input  class="form-control me-sm-2" type="search" name="search" placeholder="Buscar Libro">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
          </form> -->       
          <a href="/"><img src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>" class="icon-dash" alt=""></a>
        </div>
      </div>
    </nav><br>

    <main>

      <div class="row ms-3 me-3 justify-content-center mt-5" >
        <div class="col-md-6" style="background-color: white; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);">
          <h4 class="text-center mt-2">Agrega un Autor</h4>
            <hr>
            <form action="/products/autor/" method="POST" >
              <div class="form-group">
                <label for="name1">Nombre:</label>
                <input type="text" class="form-control <%= (locals.errors && errors.nombre) && 'is-invalid'%>" id="name1" name="nombre" placeholder="Escribe el nombre completo del autor">
              </div>
              <small class="text-danger ms-2"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %></small>
              <button type="submit" class="btn btn-primary mb-2">Enviar</button>
            </form>
        </div> 
      </div>         
    </main>







    <!-- BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>