<%- include('./partials/head')  %>
<body>
    
    <%- include('./partials/header')  %>
    <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>
    <main>
    <div class="index__main--titulares">
        <h2 id="todos">Preguntas Frecuentes</h2>
        <hr>
    </div> 
     
    <section class="index__main__section">

        <div class="index__main--titulares">
            <h2>Búsquedas</h2>
            <h3>¿Cómo busco un producto específico?</h3>
                <p>
                La búsqueda se encuentra en la mayoría de las pantallas ubicada en la parte superior central, al costado  del logo de <a href="/">Guarida del Lector</a>
                solo Seleccione la barra de  búsqueda, ingrese el texto en el casillero.
                Oprima el botón BUSCAR.
                Se muestran los resultados de la búsqueda que coinciden con el criterio ingresado y ordenados por los más relevantes. 
                </p>

            <h3>¿Cómo busco todos los productos de un tema en particular?</h3>

                <p>
                Los títulos se encuentran agrupados en temas, habiendo por cada tema una apertura en subtemas.
                Una forma de acceder a los temas es la siguiente:
                1. Seleccionar en la barra superior de navegación de cada página la opción categorias.
                2. le aparecera la pagiona completa de categiorias, ordenados. solo busque la seccion especifica del tema que este interesado</p>

            <h3>¿Puedo verificar mis compras?</h3>

                <p>
                 Al momento no contamos con seguimiento de la compra, pero lo estaremos implementando a la brevedad.   
                </p>


¿Puedo cancelar una compra luego de realizada?
Para cancelar una compra envíe un e-mail a ventas@cuspide.com informando el número de compra que quiere cancelar. Si la compra ya hubiera sido enviada, al recibir el paquete debe rechazarlo informando que lo devuelvan al remitente.

¿Puedo cancelar un producto luego de realizada la compra?
Para cancelar un producto envíe un e-mail a ventas@cuspide.com informando el número de compra.

¿Puedo modificar la cantidad de un producto luego de realizada la compra?
Para modificar la cantidad de un producto envíe un e-mail a ventas@cuspide.com informando el número de compra.

¿Puedo agregar un producto luego de realizada la compra?
Para agregar un producto a una compra en curso, envíe un e-mail a ventas@cuspide.com informando el número de compra y el título que desea agregar.

¿Tengo que pagar algún impuesto para compras fuera de la Argentina?
Para compras fuera de Argentina, los cargos en el país de destino por retiro de Aduana o impuestos aduaneros son responsabilidad del cliente y pueden variar de país en país. Recomendamos contactar la oficina de Aduanas local de su país para obtener información de posibles cargos por los conceptos mencionados.

¿Cuándo recibiré mi compra?
Para averiguar en cuánto tiempo recibiré mi compra, debo considerar la salida del depósito (por ejemplo "normalmente salida del depósito en 3 días"), más el tiempo de envío.

La salida del depósito es el tiempo que normalmente nos lleva conseguir los libros que ha solicitado, desde el momento en que usted realiza la compra.

El tiempo de envío varía en función de la distancia desde nuestro centro de distribución.

Es decir, salida del depósito + tiempo de envío = tiempo de entrega

Envíos
Envíos Nacionales (Argentina)
Los envíos se realizan desde Argentina y los precios están expresados en pesos argentinos.

Costos
Región	Costo fijo
Buenos Aires (GBA)	ARS$ 350.00
Buenos Aires (Interior)	ARS$ 500.00
Catamarca	ARS$ 500.00
Chaco	ARS$ 500.00
Chubut	ARS$ 600.00
Ciudad Autónoma de Buenos Aires	ARS$ 350.00
Córdoba	ARS$ 500.00
Corrientes	ARS$ 500.00
Entre Ríos	ARS$ 500.00
Formosa	ARS$ 500.00
Jujuy	ARS$ 500.00
La Pampa	ARS$ 500.00
La Rioja	ARS$ 500.00
Mendoza	ARS$ 500.00
Misiones	ARS$ 500.00
Neuquen	ARS$ 600.00
Rio Negro	ARS$ 600.00
Salta	ARS$ 500.00
San Juan	ARS$ 500.00
San Luis	ARS$ 500.00
Santa Cruz	ARS$ 600.00
Santa Fe	ARS$ 500.00
Santiago del Estero	ARS$ 500.00
Tierra del Fuego	ARS$ 900.00
Tucumán	ARS$ 500.00

Ejemplo 1:

Si la compra debe ser entregada en CABA/GBA, el gasto de envío es AR$350.00.

Ejemplo 2:

Si la compra debe ser entregada La Rioja, el gasto de envío es AR$500.00.

Notas aclaratorias:
- Para compras iguales o superiores a AR$3990.00 no se cobran gastos de envío, incluyendo a la Patagonia
- Los envíos se realizan a través de Urbano, Andreani y Correo Argentino, dependiendo de la localidad del país.
- Los envíos en CABA/AMBA se realizan por Urbano.
Tiempo de entrega
Para averiguar en cuánto tiempo se entregará su compra, debe considerar que el tiempo de salida del depósito es normalmente de 3 dias, más el tiempo de envío.

Es decir, tiempo de salida del depósito + tiempo de envío = tiempo de entrega

Ejemplo; un producto que tiene salida de depósito normalmente en 3 días hábiles y que se entrega en una provincia o localidad sin medidas sanitarias que imposibiliten la entrada de la empresa postal, espere recibirlo en 6 dias hábiles.

Localidad	Tiempo de envío
Capital Federal	2 - 3 días hábiles
Provincia de Buenos Aires	2 - 4 días hábiles
Resto del país	3 - 5 días hábiles
Notas aclaratorias:
- Si su compra se realiza durante el fin de semana, debe adicionar 48hs para el despacho.
Envíos internacionales
Los envíos se realizan desde Argentina y los precios están expresados en dólares.

Costos y tiempos de entrega
Región	Hasta 1 kg.	Kilo extra	Tiempo de envío
ZONA 1 (Brasil - Chile - Paraguay - Uruguay)	US$ 24.50	US$ 4.00	3 días hábiles
ZONA 2 (USA y Canadá)	US$ 30.50	US$ 5.00	4 días hábiles
ZONA 3 (Resto de América de Sur – Centro América- Caribe)	US$ 39.50	US$ 7.00	4 días hábiles
ZONA 4 (Europa Occidental)	US$ 43.50	US$ 8.50	5 días hábiles
ZONA 5 (Europa del Este y Asia)	US$ 43.50	US$ 8.50	6 días hábiles
ZONA 6 (Resto del Mundo)	US$ 43.50	US$ 8.50	7 días hábiles

Tiempo de entrega
Para averiguar en cuánto tiempo se entrega su compra fuera de la Argentina, debe considerar el tiempo de salida de depósito (por ejemplo "normalmente salida del depósito en 3 días"), y el tiempo de envío.

Tiempo de salida de depósito + tiempo de envío = tiempo de entrega

Ubique la zona de envío según la tabla de arriba y obtenga el tiempo de envío.

Ejemplo: Un producto que figura con salida de depósito "normalmente salida del depósito en 3 días" y que se entrega en Brasil (Zona 1) por DHL, espere recibirlo dentro de los 6 días hábiles.

Tiempo de salida (3 días hábiles) + tiempo de envío (3 días hábiles) = tiempo de entrega 6 días hábiles.

Notas aclaratorias:
- Si su compra es realizada un día viernes, adicionar 2 días al tiempo de envío.
- Si su compra es realizada un día sábado o no laborable, adicionar 1 día al tiempo de envío.
- Si su compra contiene diferentes fechas de disponibilidad, tomaremos como válida la fecha de despacho más extensa, en función de minimizar los gastos de envío.

¿Puedo hacer seguimiento del envío?
Al ser despachada la compra, recibirá un email donde le informaremos por que correo se despachó su pedido, el numero de encomienda y el link para que pueda realizar el seguimiento.

Medios de pago
Para compras dentro de Argentina las opciones de pago son:
Depósito o transferencia en nuestra cuenta bancaria
Para el depósito o transferencia bancaria a nuestra cuenta le brindaremos el número de la misma o CBU respectivamente una vez realizada la compra.

Tarjeta de crédito
Pago seguro online por PayU para compras con tarjetas internacionales y MercadoPago para compras con tarjetas locales.
Aceptamos las siguientes tarjetas de crédito:

- Visa
- Mastercard
- American Express
- Cabal
- Tarjeta Shopping
- Tarjeta Naranja

Pago Fácil | Rapipago | Cobro Express | Bapro Pagos por MercadoPago
Usted podrá abonar el importe de su compra con un cupón de pago que le enviaremos por e-mail en cualquiera de las sucursales de Pago Fácil, Rapipago, Cobro Express y Bapro Pagos.

Para compras internacionales las opciones de pago son:
Tarjeta de crédito
Pago seguro online por PayU.
Aceptamos las siguientes tarjetas de crédito:

- Visa
- Mastercard
- American Express

¿Es seguro usar tarjeta de crédito?
Para resguardar la seguridad de los datos en internet se han desarrollado un número de protocolos y aplicaciones usando técnicas de encriptación.

En Cúspide la seguridad está garantizada por el uso de los protocolos Secure HTTP y Secure Sockets Layer (SSL) que proveen de autenticación para servidores y navegadores. Como así también mantienen la confidencialidad e integridad de los datos por las comunicaciones entre su navegador y nuestro servidor.

Cuando un dato es enviado desde su navegador al servidor de Cúspide, el mismo es encriptado, y de esta forma se mantiene a personas no autorizadas lejos de poder interceptar o ver estos datos.

Los datos se encriptan usando algoritmo sha256RSA.

Cúspide ha seleccionado el sistema de Pago Seguro de PayU para compras internacionales y MercadoPago para compras nacionales para la validación de las tarjetas de crédito en línea. Opera con VISA (Verified by VISA homologado), Mastercard, American Express, Cabal, Tarjeta Shopping y Tarjeta Naranja, cumpliendo con los estándares internacionales y locales definidos por las tarjetas mencionadas.

Devoluciones
A partir de la recepción del paquete, usted cuenta con 10 días corridos para poder realizar cambios o devoluciones.

Para solicitar los cambios o devoluciones, puede contactarse por e-mail a devoluciones@cuspide.com o telefónicamente al (54) 11 5237 1105 informando:

- número de pedido
- motivo del cambio o devolución
- código (ISBN que figura en la factura) y título del libro o producto y código de producto

Le informaremos por e-mail la manera de realizar el cambio o devolución.

Se aceptarán los cambios y devoluciones siempre y cuando los libros no hayan sido usados; no tengan signos de deterioro; roturas; escritos o manchados; se mantengan en el mismo estado en que se recibieron conservando los envoltorios o cajas originales, plásticos, con sus etiquetas incluyendo todo tipo de accesorios, si los hubiere.

La dirección de envío para cambios y devoluciones es:

Cúspide Libros S.A. Avenida Corrientes 1316
C1043ABN Ciudad Autónoma de Buenos Aires
Argentina

El consumidor tiene derecho a revocar la presente operación comercial (por adquisición de cosas y/o prestación de servicios) durante el plazo de diez (10) días corridos, contados a partir de la fecha en que se entregue la cosa o se celebre el contrato, lo último que ocurra, sin responsabilidad alguna. Esta facultad no puede ser dispensada ni renunciada. El consumidor comunicará fehacientemente dicha revocación al proveedor y pondrá la cosa a su disposición. Los gastos de devolución son por cuenta del proveedor. Para ejercer el derecho de revocación el consumidor deberá poner la cosa a disposición del vendedor sin haberla usado y manteniéndola en el mismo estado en que la recibió, debiendo restituir el proveedor al consumidor los importes recibidos. 147 teléfono gratuito CABA, Área de Defensa y Protección al Consumidor.

Mi usuario en Cuspide.com
¿Qué beneficio tiene estar registrado?
Al registrarse, sus datos personales quedan en nuestra base de datos de forma que en compras posteriores no tiene que volver a ingresarlos, ahorrándose tiempo de navegación y evitando posibles errores.

¿Cómo me registro?
Debe registrarse con su primera compra en el menú desplegable del margen superior derecho.

¿Cómo cambio mi dirección de e-mail y/o clave?
Ingrese a su cuenta en la opción [Mis Datos], podrá modificar allí sus datos personales. Además, en la columna izquierda tiene la opción para modificar su contraseña.

¿Cómo cambio mis datos de facturación y/o envío?
Ingrese a su cuenta en la opción [Mi Cuenta], desde allí podrá modificar direcciones de envío y datos de facturación.

¿Y si no recuerdo mi contraseña?
Ingrese en primer término su dirección de e-mail, posteriormente donde se le solicita que ingrese su clave, presione sobre el texto "¿Olvidó su contraseña?".

Automáticamente le será enviado un e-mail con las instrucciones necesarias para generar una nueva contraseña.

Suscripción al servicio de novedades por e-mail
¿Qué es la suscripción?
La suscripción le permite recibir por e-mail información actualizada acerca de los temas de su interés. Periódicamente enviamos información sobre las novedades. A continuación, un ejemplo de esta información:

Adjuntamos novedades recibidas entre el 01/04/2018 y el 01/05/2018.

Catalogo: Administración y Marketing
Tema Administración de Personal

RESULTADOS
En Stock. Salida del depósito en 24 horas

ISBN 970613638X
Autor SWANSON RICHARD A.
Editorial OXFORD UNIVERSITY
Peso 0,66 Kg, Edición 2002, 304 Páginas
Idioma Español

Comentario: Como evaluar el desempeño, el aprendizaje y la percepción en las organizaciones. Figuras. Cuadros. Puntos para recordar. Bibliografía.

Con el fin de que sus funciones sigan siendo vitales en los procesos de la organizacion, los encargados del desarrollo de recursos humanos (DRH) deben...

¿Cómo me suscribo?
Para suscribirse, seleccione la opción "Suscripción a novedades" por e-mail que aparece en todas las páginas del sitio.

Se le solicitará que se identifique para poder ingresar a esta opción, en caso que no se encuentre registrado deberá proceder a hacerlo.

Posteriormente deberá tildar el casillero [Sí, deseo recibir novedades por e-mail].

A continuación se le exponen una serie de temas, marcando sobre el símbolo + se desplegaran todos los subtemas que abarcan el tema principal.

A su criterio seleccione el tema general para recibir información de todos los subtemas o únicamente los subtemas de su interés.

Oprima el botón de "Guardar".

¿Cómo cancelo la suscripción?
Para modificar o eliminar suscripciones, deberá quitar el tilde y oprimir el botón "Guardar".

Si tiene dudas acerca del procedimiento de suscripción, contáctese a suscripcion@cuspide.com

cuspidemax
cúspidemax es nuestra forma de reconocerlo por habernos elegido. Sume puntos con la tarjeta de beneficios que Cúspide Libros le otorga.

Cada vez que realice una compra en Cúspide Libros acumulará puntaje con el sólo hecho de presentar su tarjeta cúspidemax.

Sus puntos podrán ser canjeados por cualquier producto disponible en nuestras tiendas. Sume el total de puntos necesarios y llévese su recompensa.

Siempre estará informado. Consulte el estado de su cuenta en nuestras tiendas o en la factura de compra.

Consultar puntos
Ya tengo tarjeta,
quiero consultar mis puntosNo tengo tarjeta,
quiero obtenerla
Preguntas frecuentes
¿Quiénes pueden participar del Programa cúspidemax?
Pueden participar personas físicas mayores de 18 años residentes en el territorio argentino; las personas jurídicas no pueden hacerlo.

¿Cómo solicito mi tarjeta?
La tarjeta puede ser solicitada en nuestra página web www.cuspide.com o en cualquiera de los locales adheridos al Programa, por cualquier persona que cumpla con los requisitos establecidos en los Términos y Condiciones del Programa, y complete los datos requeridos en el formulario de alta.

¿Cuándo comienzo a sumar puntos?
Una vez adherido al Programa cúspidemax, estará sumando puntos a partir de la primera compra posterior identificándose como miembro del Programa.

¿Cómo es el mecanismo para obtener puntos?
Se obtendrá un (1) punto cúspidemax por cada dos pesos ($2) consumidos por la compra de cualquier producto en los locales adheridos o en nuestro sitio web.

¿Cuáles son los productos por los que puedo canjear mis puntos? ¿Hay un catálogo?
Obtenidos los puntos necesarios, usted puede elegir el producto que prefiera que esté disponible para la venta en nuestros locales participantes del Programa o en la página web de Cúspide Libros S.A. No hay catálogo alguno.

¿Cómo accedo al producto elegido?
Cada producto tiene un valor expresado en puntos, los cuales son necesarios tener acumulados en su cuenta para poder acceder al mismo. Los puntos necesarios para el canje figuran al ingresar en cada producto en nuestro sitio web www.cuspide.com y también en las terminales de autoconsulta que están a su disposición en nuestros locales. Los canjes de puntos por productos podrán solicitarse de manera personal en alguno de los locales adheridos al Programa o a través de nuestra página web. Se debe contar con la totalidad de los puntos para poder realizar el canje, no se puede utilizar puntos mas otro medio de pago.

¿Hay algún cargo extra para obtener el producto elegido?
No hay cargo adicional para obtener el producto elegido salvo que en todos los casos, estarán a exclusivo cargo y costo del adherente al Programa, los eventuales gastos de envío del producto en cuestión.

¿Los puntos cúspidemax vencen?
Los puntos cúspidemax vencerán indefectiblemente si la cuenta del adherente al Programa no registra movimientos por canje o suma de puntos en un período de doce (12) meses corridos. Vencido ese plazo, todos los puntos acumulados por el cliente caducarán y serán eliminados de la cuenta, la que quedará con saldo cero, sin que ello otorgue al cliente derecho a indemnización o compensación alguna.

¿Cómo puedo obtener información adicional?
Puede escribirnos a cuspide.max@cuspide.com o consultar el reglamento de este programa.

Términos y Condiciones del Programa “Cúspidemax” (en conjunto, el “Reglamento”)
cúspidemax es un Programa de Recompensas (en adelante el “Programa”) a través del cual Cúspide Libros S.A. recompensará a sus clientes por las compras realizadas en los locales adheridos o en nuestra página web. Por cada compra que los participantes del Programa realicen en dichos locales o en la página web de Cúspide Libros S.A., recibirán un puntaje que les otorgará la posibilidad de canjear los puntos obtenidos por productos ofrecidos por Cúspide Libros S.A., sujeto a los términos y condiciones establecidos en este Reglamento.

Condiciones Generales
1. La participación en el Programa implica la aceptación de todas las condiciones establecidas en este Reglamento, las cuales no podrán ser desconocidas por ningún participante.

2. Puede participar del Programa toda persona física mayor de 18 años que sea residente en la República Argentina y que posea la tarjeta del Programa (la “Tarjeta”). El Programa sólo es válido dentro del territorio de la República Argentina.

3. Es requisito indispensable para participar en el Programa registrarse en el mismo y ser titular de la Tarjeta.

4. La Tarjeta es un instrumento de identificación y adhesión al Programa emitida por Cúspide Libros S.A. El Programa consta de un mecanismo que permite la acumulación de puntos por las compras efectuadas de manera personal en los locales adheridos o a través de nuestro sitio web www.cuspide.com. Sin perjuicio de otros locales Cúspide no adheridos al Programa, en ningún caso generarán puntos las compras efectuadas en los denominados locales “Outlet” de venta de productos discontinuados, defectuosos o con descuento por cualquier motivo. La Tarjeta no califica como tarjeta de crédito y/o tarjeta de débito, ni resulta alcanzada por las disposiciones de la ley 25.065 y demás normas modificatorias o complementarias.

5. La Tarjeta puede ser solicitada en cualquiera de los locales adheridos al Programa y a través de nuestro sitio web www.cuspide.com por cualquier persona que cumpla con los requisitos establecidos en el presente Reglamento y complete los datos requeridos en el formulario de alta.

6. Habrá un único titular por cada Tarjeta y los puntos acumulados pertenecen exclusivamente al titular de la Tarjeta. Los puntos acumulados no podrán canjearse por dinero en efectivo ni por algún producto que no se encuentre ofrecido a la venta en los locales participantes del Programa o en nuestro sitio web.

7. Tanto la Tarjeta como los puntos acumulados son personales e intransferibles. La Tarjeta identifica a su titular como adherente del Programa y podrá ser utilizada para consultar los puntos acumulados en su cuenta y, en el caso de canjes de puntos efectuados en los locales adheridos, será necesaria su exhibición para cambiar dichos puntos por las recompensas que integran el Programa, previa acreditación de su documento nacional de identidad (D.N.I.) como requisito para el canje. Al momento de cada compra en los locales adheridos, se realizará la carga de puntos en la cuenta personal del titular contra la presentación de la correspondiente Tarjeta. Igual criterio se seguirá respecto de las compras efectuadas en línea, en cuyo caso el titular de la Tarjeta deberá cargar los datos requeridos por el sistema para identificar debidamente al mismo. En consecuencia, no se cargarán puntos por compras efectuadas con anterioridad al momento de adhesión al Programa, ni con posterioridad al momento de efectuada cada compra.

8. El titular de la Tarjeta recibirá un puntaje por cada compra realizada, ya sea en los locales participantes del Programa o a través de nuestro sitio web www.cuspide.com. A este respecto, se asignará (a) un (1) punto por cada dos pesos ($2) gastados por la compra de libros en cualquiera de los locales adheridos o en nuestro sitio web. La relación de puntaje a obtenerse por el monto de cada compra podrá ser modificada a criterio de Cúspide Libros S.A. previa comunicación a los adherentes del Programa, ya sea por email, anuncios en sus locales y/o por cualquier otro medio, con por lo menos sesenta (60) días corridos de anticipación a la efectiva implementación de la modificación en cuestión.

9. Sólo se aceptarán reclamos relacionados directamente con las responsabilidades asumidas expresamente por Cúspide Libros S.A. bajo este Reglamento. En caso que el reclamo sea eventualmente procedente, y siempre que no sea posible retrotraer la situación al estado anterior al hecho que motivó el reclamo, Cúspide Libros S.A. limitará su responsabilidad a otorgar puntos del Programa en la extensión que resulte adecuada.

10. La Tarjeta y los formularios o solicitudes de adhesión son propiedad de Cúspide Libros S.A., quien se reserva el derecho de solicitar la devolución de la Tarjeta, inhabilitar al titular o darlo de baja del Programa cuando a su solo criterio considere que se hace uso indebido de la Tarjeta y/o incumpla de cualquier manera el presente Reglamento.

11. Una vez que el titular haya completado su transacción, no se aceptarán reclamos contra Cúspide Libros S.A. fundados en la falta de exactitud de los montos o compras asignadas, o en la forma de computar el puntaje.

12. Cúspide Libros S.A. se reserva el derecho de verificar la autenticidad de los puntos acumulados en el Programa así como también podrá exigir al titular la presentación de las facturas respectivas de considerarlo necesario.

Extravío, deterioro, robo o hurto de la Tarjeta
13. En caso de extravío, deterioro sustancial, robo o hurto de la Tarjeta, el titular de aquella deberá denunciar en forma inmediata y fehaciente el hecho en cualquiera de los locales de Cúspide Libros S.A. adheridos al Programa. Para poder efectuar la denuncia, el titular deberá acreditar su identidad.

14. Realizada la denuncia, Cúspide Libros S.A. gestionará el reemplazo de la Tarjeta, asignándole a la nueva los puntos que registre la cuenta del titular al momento de radicada la denuncia, cuyos datos se encuentran en la base de datos del Programa. La nueva Tarjeta podrá ser retirada por el titular en cualquiera de los locales adheridos al Programa.

15. Cúspide Libros S.A. no se responsabiliza por el uso indebido (sea en los locales adheridos o a través de la página web www.cuspide.com) que por cualquier causa se efectúe con una Tarjeta y/o con sus respectivos datos, ya sea por robo, hurto, pérdida de la misma y/o por cualquier otro motivo. Cúspide Libros S.A. se reserva el derecho de iniciar las acciones legales que correspondan contra cualquier persona que intente o realice un uso fraudulento o indebido de la Tarjeta o sus correspondientes datos identificatorios bajo el Programa.

Vencimiento de Puntos
16. Los puntos cúspidemax vencerán indefectiblemente si la cuenta del adherente al Programa no registra movimientos por canje o suma de puntos en un período de doce (12) meses corridos. Vencido ese plazo, todos los puntos acumulados por el cliente caducarán y serán eliminados de la cuenta, la que quedará con saldo cero, sin que ello otorgue al cliente derecho a indemnización o compensación alguna.

Vigencia del Programa
17. Cúspide Libros S.A. se reserva el derecho de determinar la finalización del Programa en el momento que considere conveniente, previa comunicación a los adherentes al mismo, ya sea por email, anuncios en sus locales y/o por cualquier otro medio, con por lo menos sesenta (60) días corridos de anticipación a la efectiva terminación del Programa.

18. En caso de finalizar el Programa, los participantes tendrán un plazo de sesenta (60) días corridos contados desde la fecha de finalización del Programa para canjear por regalos los puntos que hayan acumulado (salvo que los mismos venzan con anterioridad de conformidad con lo establecido en la cláusula 16). Vencido dicho plazo, las Tarjetas quedarán automáticamente anuladas y sin efecto, no pudiendo realizar ningún tipo de canje y no teniendo los participantes derecho a reclamo alguno en relación o con motivo de puntos eventualmente inutilizados.

Otros aspectos
19. Cúspide Libros S.A. podrá modificar los términos y condiciones del Programa previa comunicación a los adherentes al mismo, ya sea por email, anuncios en sus locales y/o por cualquier otro medio, con por lo menos sesenta (60) días corridos de anticipación a la efectiva implementación de la modificación en cuestión.

20. Cúspide Libros S.A. podrá deducir de las cuentas de los adherentes al Programa, puntos acreditados por error y/o puntos relacionados con una transacción que fuera cancelada o revertida.

21. Cúspide Libros S.A. se reserva la facultad de realizar promociones especiales entre los participantes del Programa, las que podrán ser puestas en su conocimiento a través de los canales de venta correspondientes. Todas las promociones se efectuarán de conformidad con la normativa aplicable.

Recompensas
22. Cada producto tiene un valor expresado en puntos que son necesarios tener acumulados para acceder a dicho producto. Siempre y cuando haya acumulado la cantidad de puntos necesarios para acceder a los mismos, el titular de la Tarjeta podrá elegir para ser canjeados uno o varios productos (dependiendo del puntaje acumulado) de entre cualquiera de los ofrecidos a la venta en los locales adheridos al Programa o en nuestro sitio web www.cuspide.com; estableciéndose, sin embargo, que en el caso de canjes efectuados en dicho sitio web, el adherente al Programa deberá canjear puntos adicionales a los efectos de atender los gastos de envío, los cuales en todos los casos estarán a exclusivo cargo y costo del solicitante del canje. El valor en puntos de los gastos de envío se encuentra estipulado en el sitio web de Cúspide Libros S.A. Los puntos necesarios para el canje figuran al ingresar en cada uno de los productos en el sitio web www.cuspide.com y también en las terminales de autoconsulta que están en nuestros locales. Los gastos de envío no generan puntos de ningún tipo. Este Programa no incluye envíos a domicilios ubicados fuera del territorio de la República Argentina.

23. Al solicitar un canje y obtener un producto serán descontados de la cuenta personal del adherente al Programa los puntos correspondientes al mismo y, adicionalmente en el caso de canjes efectuados en línea (on line), los puntos relativos a los gastos de envío.

24. De encontrarse agotado el stock de cualquiera de los productos, el adherente al Programa podrá optar por otro u otros productos, siempre con el límite de los puntos que posea.

25. Cúspide Libros S.A. se reserva el derecho de excluir fabricantes y editoriales, libros y/u otros productos de este Programa, y exceptuar del mismo algún o algunos locales. Los libros importados a pedido no generan puntos en este Programa. No se podrán canjear puntos en los denominados locales “Outlet” de venta de productos discontinuados, defectuosos o con descuento por cualquier motivo, ni en otros locales Cúspide no adheridos al Programa.

26. Los beneficios de este Programa no son combinables ni pueden superponerse con otros descuentos o promociones adicionales.

27. Salvo que la normativa vigente establezca lo contrario, los productos canjeados por puntos no tienen cambio ni devolución. De conformidad con lo establecido en la normativa relativa a la defensa del consumidor y en el artículo 1110 del Código Civil y Comercial de la Nación, y salvo las excepciones enunciadas en el artículo 1116 de dicho cuerpo normativo, en los canjes de productos efectuados a través de nuestra página web, el adherente al Programa tendrá derecho a revocar la aceptación del canje dentro de los diez (10) días computados a partir de la solicitud del mismo.

Confidencialidad y propiedad de la Información
28. El participante expresamente acepta y acuerda proveer la información que le sea requerida en la solicitud de adhesión al Programa de Cúspide Libros S.A. Todos los datos contenidos en la solicitud de adhesión, así como los referidos a las transacciones que resulten en la acreditación y/o débito de puntos son de carácter estrictamente confidencial. El cliente podrá en cualquier momento solicitar la rectificación o supresión de los datos provistos, debiendo en tal caso dirigirse por escrito a Cúspide Libros S.A., Avenida Corrientes 1316, Ciudad Autónoma de Buenos Aires. Los datos no serán cedidos ni transferidos a terceros, y serán de uso exclusivo de Cúspide Libros S.A., a los efectos de establecer acciones de marketing, promociones y beneficios comerciales. En todos los casos, Cúspide Libros S.A. cumplirá con lo establecido en la Ley Nº25.326 de Protección de Datos Personales y sus normas reglamentarias, complementarias y/o modificatorias. El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita y a intervalos no inferiores a seis (6) meses (salvo que se acredite un interés legítimo al efecto) conforme lo establecido por el artículo 14 inciso 3 de la referida Ley Nº25.326.

Sobre Cúspide Libros
Tiendas
Conozca nuestras tiendas en todo el país.

Trabajar con nosotros
¿Querés ser parte del equipo de Cúspide? Envianos tu CV a rrhh@cuspide.com

Para aplicar al puesto de vendedor o cajero en librería enviá tu CV a rrhh.retail@cuspide.com

y colocá en el asunto del email tu preferencia. REF: Vendedor o REF: Cajero.

Política de Privacidad
En Cúspide estamos comprometidos a respetar y garantizar su privacidad.

Nuestro sitio utiliza "cookies" para mantener un registro de los ítems que usted suma al carrito, para recordar información al pasar de página en página sin necesidad de volver a solicitársela, para recolectar detalles acerca de sus preferencias y las de otros clientes, para reconocer qué áreas del sitio debemos desarrollar más y qué otras no son de acceso frecuente.

Toda esta información, junto con los e-mails de sugerencias recibidos sirven para modificar el sitio de manera que sea más amigable o productivo para nuestros clientes.

Cuando le solicitamos sus datos personales, lo hacemos para poder procesar, despachar y avisarle acerca del estado de su orden. El número de teléfono lo solicitamos para el caso que un representante de servicio al cliente tenga la necesidad de contactarse con usted y no pueda lograrlo por medio del e-mail.

La información acerca de su tarjeta de crédito no queda registrada en nuestras bases de datos, utilizamos el sistema de Pago Seguro de PayU para compras con tarjetas internacionales y MercadoPago para compras con tarjetas locales como nexo con las controladoras de tarjeta de crédito. De esta manera no conocemos los datos de la tarjeta ingresada en línea, únicamente recibimos un número de autorización o rechazo de la operación.

Cuando se suscribe para recibir novedades por e-mail, únicamente consideramos su dirección de e-mail para ese tema, no enviamos publicidad no solicitada y no compartimos ni entregamos nuestras bases de datos a terceras partes bajo ningún motivo.

Cuando usted se registra como cliente e informa su clave personal, ésta permanece totalmente encriptada y si usted la pierde o no la recuerda, nosotros no podemos acceder a recuperarla, únicamente podemos asignarle una nueva. De esta forma queda garantizada la privacidad de la misma.

Es necesario aclarar que cuando usted clickea sobre un link o un aviso publicitario que lo conecta con otros sitios web, usted está sujeto a las políticas de dicho sitio. No nos hacemos responsables por las acciones de estas terceras partes y por ello recomendamos lea detenidamente la política de privacidad del sitio accedido.

Estamos comprometidos a brindar el mejor servicio en línea posible, verifique periódicamente si hubo algún cambio en esta página, pues el uso del sitio cuspide.com implica el conocimiento y aceptación de nuestra política de privacidad.
    </div>
</div>
</div>   
    

</section>
<%- include('./partials/redes')  %>
</main>

<%- include('./partials/footer') %>
<!-- BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>