<%- include('./partials/head')  %>
<body>
    
    <%- include('./partials/header')  %>
    <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>
<main class="preguntasFrecuentes">
    <div>
        <h2>Preguntas Frecuentes</h2>
    </div> 

        <div class="preguntasFrecuentes--iconos">
            <a href="#busqueda">
                <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #403042;"></i>
            </a>
            <a href="#compra-online">
                <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #403042;"></i>
            </a>
            <a href="#medios-de-envios">
                <i class="fa-solid fa-truck fa-2xl" style="color: #403042;"></i>
            <a href="#medios-de-pago">
                <i class="fa-regular fa-credit-card fa-2xl" style="color: #403042;"></i>
            </a>
            <a href="#devoluciones">
                <i class="fa-solid fa-rotate-left fa-2xl" style="color: #403042;"></i>
            </a>
        </div>

        <section class="preguntasFrecuentes__main__section">

            <div class="preguntasFrecuentes__main--titulares">
            <h2 id="busqueda">Búsquedas</h2>
            <h3>¿Cómo busco un producto específico?</h3>
                <p>
                La búsqueda se encuentra en la mayoría de las pantallas ubicada en la parte superior central, al costado  del logo de Guarida del Lector
                solo Seleccione la barra de  búsqueda, ingrese el texto en el casillero.
                Oprima el botón BUSCAR.
                <br>
                Se muestran los resultados de la búsqueda que coinciden con el criterio ingresado y ordenados por los más relevantes. 
                </p>
            <h3>¿Cómo busco todos los productos de un tema en particular?</h3>
                <p>
                Los títulos se encuentran agrupados en temas, habiendo por cada tema una apertura en subtemas.
                Una forma de acceder a los temas es la siguiente:
                <br>
                1. Seleccionar en la barra superior de navegación de cada página la opción categorias.
                <br>
                2. le aparecera la pagiona completa de categiorias, ordenados. solo busque la seccion especifica del tema que este interesado</p>
            <h2 id="compra-online">Compras</h2>
            <h3>¿Puedo verificar mis compras?</h3>
                <p>
                Al momento no contamos con seguimiento de la compra, pero lo estaremos implementando a la brevedad.   
                </p>
            <h3>¿Puedo cancelar una compra luego de realizada?</h3>
                <p>
                Para cancelar una compra envíe un e-mail a ventas@Guarida.com informando el número de compra que quiere cancelar. Si la compra ya hubiera sido enviada, al recibir el paquete debe rechazarlo informando que lo devuelvan al remitente.
                </p>
            <h3>¿Puedo cancelar un producto luego de realizada la compra?</h3>
                <p>
                Para cancelar un producto envíe un e-mail a ventas@Guarida.com informando el número de compra.
                </p>
            <h3>¿Puedo modificar la cantidad de un productoo o agregar uno nuevo luego de realizada la compra?</h3>
                <p>
                Para modificar/agregar la cantidad de un producto envíe un e-mail a ventas@Guarida.com informando el número de compra.
                </p>
            <h3>¿Tengo que pagar algún impuesto para compras fuera de la Argentina?</h3>
                <p>
                Para compras fuera de Argentina, los cargos en el país de destino por retiro de Aduana o impuestos aduaneros son responsabilidad del cliente y pueden variar de país en país. Recomendamos contactar la oficina de Aduanas local de su país para obtener información de posibles cargos por los conceptos mencionados.
                </p>
            <h3>¿Cuándo recibiré mi compra?</h3>
                <p>
                Para averiguar en cuánto tiempo recibiré mi compra, debo considerar la salida del depósito (por ejemplo "normalmente salida del depósito en 3 días"), más el tiempo de envío.
                <br>
                La salida del depósito es el tiempo que normalmente nos lleva conseguir los libros que ha solicitado, desde el momento en que usted realiza la compra.              
                El tiempo de envío varía en función de la distancia desde nuestro centro de distribución.              
                Es decir, salida del depósito + tiempo de envío = tiempo de entrega.
                </p>
            <h2 id="medios-de-envios">Envíos</h2>        
            <h3>Envíos Nacionales (Argentina)</h3>
                
                Los envíos se realizan desde Argentina y los precios están expresados en pesos argentinos.
                <br>
                Costos
                Región	                                Costo fijo
                Buenos Aires (GBA)	                    ARS$ 350.00
                Buenos Aires (Interior)	                ARS$ 500.00
                Catamarca	                            ARS$ 500.00
                Chaco	                                ARS$ 500.00
                Chubut	                                ARS$ 600.00
                Ciudad Autónoma de Buenos Aires	        ARS$ 350.00
                Córdoba	                                ARS$ 500.00
                Corrientes	                            ARS$ 500.00
                Entre Ríos	                            ARS$ 500.00
                Formosa	                                ARS$ 500.00
                Jujuy	                                ARS$ 500.00
                La Pampa	                            ARS$ 500.00
                La Rioja	                            ARS$ 500.00
                Mendoza	                                ARS$ 500.00
                Misiones	                            ARS$ 500.00
                Neuquen	                                ARS$ 600.00
                Rio Negro	                            ARS$ 600.00
                Salta	                                ARS$ 500.00
                San Juan	                            ARS$ 500.00
                San Luis	                            ARS$ 500.00
                Santa Cruz	                            ARS$ 600.00
                Santa Fe	                            ARS$ 500.00
                Santiago del Estero	                    ARS$ 500.00
                Tierra del Fuego	                    ARS$ 900.00
                Tucumán	                                ARS$ 500.00
                <br>
                Ejemplo 1:             
                Si la compra debe ser entregada en CABA/GBA, el gasto de envío es AR$350.00.
                <br>
                Ejemplo 2:
                Si la compra debe ser entregada La Rioja, el gasto de envío es AR$500.00.
                <br>
                Notas aclaratorias:
                - Para compras iguales o superiores a AR$3990.00 no se cobran gastos de envío, incluyendo a la Patagonia
                - Los envíos se realizan a través de Urbano, Andreani y Correo Argentino, dependiendo de la localidad del país.
                - Los envíos en CABA/AMBA se realizan por Urbano.
                Tiempo de entrega
                Para averiguar en cuánto tiempo se entregará su compra, debe considerar que el tiempo de salida del depósito es normalmente de 3 dias, más el tiempo de envío.
                <br>
                Es decir, tiempo de salida del depósito + tiempo de envío = tiempo de entrega
                <br>
                Ejemplo; un producto que tiene salida de depósito normalmente en 3 días hábiles y que se entrega en una provincia o localidad sin medidas sanitarias que imposibiliten la entrada de la empresa postal, espere recibirlo en 6 dias hábiles.
                <br>
                Localidad	Tiempo de envío
                Capital Federal	2 - 3 días hábiles
                Provincia de Buenos Aires	2 - 4 días hábiles
                Resto del país	3 - 5 días hábiles
                Notas aclaratorias:
                - Si su compra se realiza durante el fin de semana, debe adicionar 48hs para el despacho.
                Envíos internacionales
                Los envíos se realizan desde Argentina y los precios están expresados en dólares.
                <br>
                Costos y tiempos de entrega
                Región	Hasta 1 kg.	Kilo extra	Tiempo de envío
                ZONA 1 (Brasil - Chile - Paraguay - Uruguay)	US$ 24.50	US$ 4.00	3 días hábiles
                ZONA 2 (USA y Canadá)	US$ 30.50	US$ 5.00	4 días hábiles
                ZONA 3 (Resto de América de Sur - Centro América- Caribe)	US$ 39.50	US$ 7.00	4 días hábiles
                ZONA 4 (Europa Occidental)	US$ 43.50	US$ 8.50	5 días hábiles
                ZONA 5 (Europa del Este y Asia)	US$ 43.50	US$ 8.50	6 días hábiles
                ZONA 6 (Resto del Mundo)	US$ 43.50	US$ 8.50	7 días hábiles
                <br>
            <h3>Tiempo de entrega</h3>
                Para averiguar en cuánto tiempo se entrega su compra fuera de la Argentina, debe considerar el tiempo de salida de depósito (por ejemplo "normalmente salida del depósito en 3 días"), y el tiempo de envío.
                <br>
                Tiempo de salida de depósito + tiempo de envío = tiempo de entrega
                <br>
                Ubique la zona de envío según la tabla de arriba y obtenga el tiempo de envío.
                <br>
                Ejemplo: Un producto que figura con salida de depósito "normalmente salida del depósito en 3 días" y que se entrega en Brasil (Zona 1) por DHL, espere recibirlo dentro de los 6 días hábiles.
                <br>
                Tiempo de salida (3 días hábiles) + tiempo de envío (3 días hábiles) = tiempo de entrega 6 días hábiles.
                <br>
                Notas aclaratorias:
                - Si su compra es realizada un día viernes, adicionar 2 días al tiempo de envío.
                - Si su compra es realizada un día sábado o no laborable, adicionar 1 día al tiempo de envío.
                - Si su compra contiene diferentes fechas de disponibilidad, tomaremos como válida la fecha de despacho más extensa, en función de minimizar los gastos de envío.
                </p>
            <h3>¿Puedo hacer seguimiento del envío?</h3>
                <p>
                Al ser despachada la compra, recibirá un email donde le informaremos por que correo se despachó su pedido, el numero de encomienda y el link para que pueda realizar el seguimiento.
                </p>
            <h2 id="medios-de-pago">Medios de pago</h2>
                <p>
                Para compras dentro de Argentina las opciones de pago son:
                Depósito o transferencia en nuestra cuenta bancaria
                Para el depósito o transferencia bancaria a nuestra cuenta le brindaremos el número de la misma o CBU respectivamente una vez realizada la compra.
                <br>      
                Tarjeta de crédito
                Pago seguro online por PayU para compras con tarjetas internacionales y MercadoPago para compras con tarjetas locales.
                Aceptamos las siguientes tarjetas de crédito:
                <br>            
                - Visa
                - Mastercard
                - American Express
                - Cabal
                - Tarjeta Shopping
                - Tarjeta Naranja
                <br>           
                Pago Fácil | Rapipago | Cobro Express | Bapro Pagos por MercadoPago
                Usted podrá abonar el importe de su compra con un cupón de pago que le enviaremos por e-mail en cualquiera de las sucursales de Pago Fácil, Rapipago, Cobro Express y Bapro Pagos.
                <br>           
                Para compras internacionales las opciones de pago son:
                Tarjeta de crédito
                Pago seguro online por PayU.
                Aceptamos las siguientes tarjetas de crédito:
                <br>            
                - Visa
                - Mastercard
                - American Express
                </p>
            <h2 id="devoluciones">Devoluciones</h2>
                <p>
                A partir de la recepción del paquete, usted cuenta con 10 días corridos para poder realizar cambios o devoluciones.
                <br>
                Para solicitar los cambios o devoluciones, puede contactarse por e-mail a devoluciones@Guarida.com o telefónicamente al (54) 11 xxxx xxxx informando:
                <br>
                - número de pedido
                - motivo del cambio o devolución
                - código (ISBN que figura en la factura) y título del libro o producto y código de producto
                <br>
                Le informaremos por e-mail la manera de realizar el cambio o devolución.
                <br>
                Se aceptarán los cambios y devoluciones siempre y cuando los libros no hayan sido usados; no tengan signos de deterioro; roturas; escritos o manchados; se mantengan en el mismo estado en que se recibieron conservando los envoltorios o cajas originales, plásticos, con sus etiquetas incluyendo todo tipo de accesorios, si los hubiere.
                <br>
                La dirección de envío para cambios y devoluciones es:
                <br>
                Guarida Del Lector S.A. Av. Siempre viva 742
                Cp1661 - CABA - Argentina
                <br>
                El consumidor tiene derecho a revocar la presente operación comercial (por adquisición de cosas y/o prestación de servicios) durante el plazo de diez (10) días corridos, contados a partir de la fecha en que se entregue la cosa o se celebre el contrato, lo último que ocurra, sin responsabilidad alguna. Esta facultad no puede ser dispensada ni renunciada. El consumidor comunicará fehacientemente dicha revocación al proveedor y pondrá la cosa a su disposición. Los gastos de devolución son por cuenta del proveedor. Para ejercer el derecho de revocación el consumidor deberá poner la cosa a disposición del vendedor sin haberla usado y manteniéndola en el mismo estado en que la recibió, debiendo restituir el proveedor al consumidor los importes recibidos. 147 teléfono gratuito CABA, Área de Defensa y Protección al Consumidor.         
                </p>
            <h2>Mi usuario en GuaridaDelLector.com</h2>
            <h3>¿Qué beneficio tiene estar registrado?</h3>
                <p>
                Al registrarse, sus datos personales quedan en nuestra base de datos de forma que en compras posteriores no tiene que volver a ingresarlos, ahorrándose tiempo de navegación y evitando posibles errores.
                </p>
            <h3>¿Cómo me registro?</h3>
                <p>
                Debe registrarse seleccionando el icono de usuario, que se encuentra en la esquina superior derecha, que lo redireccionará a la pagina de login, una vez ahí, debe seleccionar "¿no tenges cuenta?".
                </p>
            <h3>¿Y si no recuerdo mi contraseña?</h3>
                <p>
                    
                </p>
            <h2>sobre Guarida del Lector</h2>
            <h3>Tiendas</h3>
                <p>
                Al momemnto nos manejamos solo con venta online.
                </p>
            <h3>Trabajar con nosotros</h3>
                <p>
                ¿Querés ser parte del equipo de Guarida del Lector? Envianos tu CV a rrhh@Guarida.com
                </p>
            <h3>Política de Privacidad</h3>
                <p>
                En Guarida del Lector estamos comprometidos a respetar y garantizar su privacidad.
                <br>
                Nuestro sitio utiliza "cookies" para mantener un registro de los ítems que usted suma al carrito, para recordar información al pasar de página en página sin necesidad de volver a solicitársela, para recolectar detalles acerca de sus preferencias y las de otros clientes, para reconocer qué áreas del sitio debemos desarrollar más y qué otras no son de acceso frecuente.
                <br>
                Toda esta información, junto con los e-mails de sugerencias recibidos sirven para modificar el sitio de manera que sea más amigable o productivo para nuestros clientes.
                <br>
                Cuando le solicitamos sus datos personales, lo hacemos para poder procesar, despachar y avisarle acerca del estado de su orden. El número de teléfono lo solicitamos para el caso que un representante de servicio al cliente tenga la necesidad de contactarse con usted y no pueda lograrlo por medio del e-mail.
                <br>
                La información acerca de su tarjeta de crédito no queda registrada en nuestras bases de datos, utilizamos el sistema de Pago Seguro de PayU para compras con tarjetas internacionales y MercadoPago para compras con tarjetas locales como nexo con las controladoras de tarjeta de crédito. De esta manera no conocemos los datos de la tarjeta ingresada en línea, únicamente recibimos un número de autorización o rechazo de la operación.
                <br>
                Cuando se suscribe para recibir novedades por e-mail, únicamente consideramos su dirección de e-mail para ese tema, no enviamos publicidad no solicitada y no compartimos ni entregamos nuestras bases de datos a terceras partes bajo ningún motivo.
                <br>
                Cuando usted se registra como cliente e informa su clave personal, ésta permanece totalmente encriptada y si usted la pierde o no la recuerda, nosotros no podemos acceder a recuperarla, únicamente podemos asignarle una nueva. De esta forma queda garantizada la privacidad de la misma.
                <br>
                Es necesario aclarar que cuando usted clickea sobre un link o un aviso publicitario que lo conecta con otros sitios web, usted está sujeto a las políticas de dicho sitio. No nos hacemos responsables por las acciones de estas terceras partes y por ello recomendamos lea detenidamente la política de privacidad del sitio accedido.
                <br>
                Estamos comprometidos a brindar el mejor servicio en línea posible, verifique periódicamente si hubo algún cambio en esta página, pues el uso del sitio GuaridaDelLector.com implica el conocimiento y aceptación de nuestra política de privacidad.    
                </p>
            </div>
        </section>
        <%- include('./partials/redes')  %>
</main>

        <%- include('./partials/footer') %>
<!-- BOOTSTRAP -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>