<header class="header">
    <div class="header__nav-menu">
        <div class="logo">  
            <a href="/"><img src="/images/logo" alt=""></a>
            <!-- <img src="/images/logo" alt=""> -->
        </div>
        <div class="header--buscador">
            <form action="/search" method="get">
                <input type="search" name="search" placeholder="Buscar títulos y categorías">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        
        <div class="header__nav__menu--user">   
            <% if (locals.userLogin && locals.userLogin.rol === 'admin') { %>
             <small>Hola, <%= userLogin.name %></small>
             <li><a href="/user/logout">cerrar sesion |</a></li>
            <% } else { %>
            <a href="/user/login"><i class="fa-solid fa-user"></i></a>
            
            <% } %>
         <!-- <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a> -->
        <!--  <a href="/products/agregar"><i class="fa-solid fa-plus"></i></a> -->
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div> <br>
    </div>
    
    
</header> 