
<ul class="pagination">
  <li class="page-item" id="btn-prev-table">
    <a class="page-link" href="#" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>

  <div id="container-items-page-table" class="d-flex">

  </div>


  <li class="page-item" id="btn-next-table">
    <a class="page-link" href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
